# mbsync -V -Dms -c /opt/mailur/mbsync.user -La
Create Both
Expunge Both
SyncState *
SyncState /home/vmail/user/mbsync/
CopyArrivalDate yes

IMAPAccount gmail
Host imap.gmail.com
User <user>
Pass <pass>
SSLType IMAPS
PipelineDepth 1

IMAPAccount dovecot
Host mlr
User user
Pass user
SSLType IMAPS
CertificateFile /etc/ssl/certs/ssl-cert-snakeoil.pem

IMAPStore gmail
Account gmail

IMAPStore dovecot
Account dovecot

Channel gmail-trash
Master :gmail:[Gmail]/Trash
Slave :dovecot:Trash

Channel gmail-spam
Master :gmail:[Gmail]/Spam
Slave :dovecot:Spam

Channel gmail-all
Master ":gmail:[Gmail]/All Mail"
Slave :dovecot:INBOX

Group gmail
Channel gmail-all
Channel gmail-trash
Channel gmail-spam
