Unidecode==0.4.18
Werkzeug==0.10.4
aiohttp==0.17.4
bcrypt==2.0.0
cffi==1.2.1
chardet==2.3.0
decorator==4.0.4
dnspython3==1.12.0
gunicorn==19.3.0
lxml==3.4.4
mistune==0.7.1
psycopg2==2.6.1
pycparser==2.14
pystache==0.5.4
requests==2.8.1
six==1.10.0
valideer==0.4.1
