html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: var(--colorGreen);
  outline: 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.app {
  display: flex;
  flex-flow: row nowrap;
  line-height: var(--lineHeight);
  font-size: var(--fontSize);
  background-color: var(--colorWhite);
}

.app__split {
  display: none;

  @nest .opt--split-on & {
    display: block;
  }
}

.app__main,
.app__split {
  box-sizing: border-box;
  min-width: 600px;
  width: 100vw;
  height: 100vh;
  padding: 0 0.2em;
  overflow-y: auto;

  @nest .opt--split-on & {
    width: 50vw;
  }
}

.app__main__tags {
  display: flex;
  margin-bottom: 0.2em;
}

.app__main__split {
  float: right;
}
