.app {
  display: flex;
  flex-flow: row nowrap;
  line-height: @--lineHeight;
  background-color: @--colorWhite;

  &.opt--bigger {
    font-size: 1.5em;
  }
}

.split {
  display: none;

  .opt--split-on & {
    display: block;
  }
}

.main,
.split {
  box-sizing: border-box;
  min-width: 600px;
  width: 100vw;
  height: 100vh;
  padding: 0.2em;
  overflow-y: auto;

  .opt--split-on & {
    width: 50vw;
  }

  .opt--bigger & {
    min-width: 800px;
  }
}

.main__tags {
  display: flex;
  margin-bottom: 0.2em;
}

.main__actions {
  float: right;
  margin-top: -0.2em;
  font-size: 1em;
}

.main__actions__split {
  .--icon--split;

  .opt--split-on & {
    color: @--colorOrange;
  }
}

.main__actions__logout {
  .--icon--logout;
}

.main__actions__bigger {
  .--icon--font;

  .opt--bigger & {
    color: @--colorOrange;
  }
}
