@import './root.css';

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.app {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  line-height: var(--lineHeight);
  font-size: var(--fontSize);

  & .app-main,
  & .app-side {
    min-width: 600px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0.2em;
    overflow-y: scroll;
  }

  & .app-side {
    display: none;
  }

  &.side-on {
    & .app-main,
    & .app-side {
      width: 50%;
    }

    & .app-side {
      display: block;
    }
  }

  & .app-tags {
    display: flex;
    margin-bottom: 0.2em;
  }
}
