html, body {
  height: 100%;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 1.7em;
  padding: 0.1em 0.2em;
  background-color: @--color--light-grey;
}

.panes {
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  height: 100%;
  padding-top: 1.7em;
}

.main,
.split {
  position: relative;
  box-sizing: border-box;
  min-width: 600px;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: @--color--white;

  .opt--split-on & {
    width: 50vw;
  }
}

.split {
  display: none;

  .opt--split-on & {
    display: block;
    border-left: 1px solid @--color--light-grey;
  }
}

.header__tags {
  display: flex;
  align-items: stretch;
  height: 1.5em;
  line-height: 1.5em;
  margin-bottom: 0.2em;
  font-size: @--font-size--s;

  .tags {
    overflow: hidden;
  }

  .tags-select {
    margin-right: 0.2em;
    overflow: unset;
  }
}

.header__actions {
  display: flex;
  white-space: nowrap;

  .opt--split-on & .icon--split,
  .opt--bigger & .icon--font {
    color: @--color--orange;
  }
}
