html,
body {
  padding: 0;
  margin: 0;
  font-size: var(--fontSize);
}

a {
  color: var(--colorGreen);
  outline: 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.app {
  display: flex;
  flex-flow: row nowrap;
  line-height: var(--lineHeight);
  background-color: var(--colorWhite);

  &.opt--bigger {
    font-size: 1.5em;
  }
}

.app__split {
  display: none;

  @nest .opt--split-on & {
    display: block;
  }
}

.app__main,
.app__split {
  box-sizing: border-box;
  min-width: 400px;
  width: 100vw;
  height: 100vh;
  padding: 0 0.2em;
  overflow-y: auto;

  @nest .opt--split-on & {
    width: 50vw;
  }

  @nest .opt--bigger & {
    min-width: 600px;
  }
}

.app__main__tags {
  display: flex;
  margin-bottom: 0.2em;
}

.app__main__split {
  float: right;
}

.app__main__bigger {
  float: right;

  &::before {
    content: 'A';
    font-size: 0.7em;
  }

  &::after {
    content: '-A';
  }
}
