<div :class="{editor:1, 'editor--preview': !editing && html, 'editor--sending': countdown !== null}">
  <picker
    class="editor__from"
    placeholder="From"
    :value="from"
    :opts="allFrom"
    :fnUpdate="update"
    :fnFilter="filter"
    :fnKeyup="keyup"
    :fnCancel="(el) => update(null, el)"
  />
  <picker
    class="editor__to"
    placeholder="To"
    :value="to"
    :opts="allTo"
    :fnUpdate="update"
    :fnFilter="filter"
    :fnKeyup="keyup"
    :fnCancel="(el) => update(null, el)"
  />
  <input v-model="subject" @keyup="autosave" class="editor__subj" placeholder="Subject"  />
  <textarea v-model="txt"  @keyup="autosave" class="editor__body"></textarea>
  <div class="editor__html" v-html="html" />
  <div v-if="msg.quoted" class="editor__quote" v-html="msg.quoted" />
  <div v-if="msg.files.length" class="editor__files">
    <a
      v-for="f, idx of msg.files"
      :href="f.url"
      @click="f.image && slide($event, idx)"
      target="_blank"
    >{{f.filename}}</a>
  </div>
  <div class="editor__buttons">
    <input ref="upload" @change="save" class="editor__upload" type="file" multiple />
    <button @click="preview" class="editor__preview">Preview</button>
    <button @click="edit" class="editor__edit">Edit</button>
    <button @click="save" class="editor__save">Save</button>
    <button @click="send" class="editor__send">Send</button>
    <button @click="cancel" class="editor__cancel">Cancel</button>
  </div>
  <div v-if="countdown > 0" class="editor__sending">
    Sending in {{countdown}} seconds...
    <button @click="edit" class="editor__cancel">Cancel</button>
  </div>
  <div v-if="countdown === 0" class="editor__sending">
    Sending...
  </div>
</div>
