.editor {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
  border-top: 1px solid @--color--orange;
  border-radius: 0.5em;
  font-size: @--font-size--s;

  &.editor--preview {
    .editor__edit {
      display: inline;
    }
    .editor__html {
      display: block;
    }
    .editor__preview,
    .editor__body {
      display: none;
    }
  }

  &.editor--sending {
    .editor__buttons {
      display: none;
    }
    .editor__sending {
      display: block;
    }
  }
}

.editor__sending {
  display: none;
  color: @--color--orange;
}

.editor__edit {
  display: none;
}

.editor__html {
  display: none;

  .--text;
}

.editor__files {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.2em;
  margin-bottom: 0.2em;
  border-bottom: 1px solid @--color--grey;
}

.editor__buttons {
  display: flex;

  button, input {
    margin: 0 0.2em;
  }

  .editor__side_preview {
    display: none;

    .split & {
      display: block;
    }
  }
  .editor__send {
    padding-left: 0;
    font-weight: bold;

    .icon--send;
  }
  .editor__delete {
    padding-left: 0;
    align-self: end;

    .icon--trash;
  }
}

.editor__from,
.editor__to,
.editor__subj {
  flex: none;
  width: 100%;
}

.editor__quote {
  width: 100%;
  padding-bottom: 0.2em;
  margin-bottom: 0.2em;
  border-bottom: 1px solid @--color--grey;
}

.editor__body {
  flex: auto;
  width: 100%;
  min-height: 200px;
  margin-bottom: 0.2em;
}
