@import './font/icons.css';

@font-face {
  font-family: 'icons';
  src: url('./font/icons.eot?rg4e9b');
  src:
    url('./font/icons.eot?rg4e9b#iefix') format('embedded-opentype'),
    url('./font/icons.ttf?rg4e9b') format('truetype'),
    url('./font/icons.woff?rg4e9b') format('woff'),
    url('./font/icons.svg?rg4e9b#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --icon {
    &::before {
      font-family: 'icons' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      display: inline-block;
      width: 1.4em;
      text-align: center;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  --only-icon {
    box-sizing: content-box;
    min-width: 1.4em;
    overflow: hidden;

    @nest .opt--only-icons & {
      width: 1.4em;

      &::before {
        padding-right: 2em;
      }
    }
  }
}

[class^="action--"] {
  @apply --icon;
}

.action--search {
  @apply --symbol--search;
  @apply --only-icon;
}

.action--archive {
  @apply --symbol--archive;
  @apply --only-icon;
}

.action--trash {
  @apply --symbol--trash;
  @apply --only-icon;
}

.action--spam {
  @apply --symbol--spam;
  @apply --only-icon;
}

.action--link {
  @apply --symbol--link;
  @apply --only-icon;
}

.action--reply {
  @apply --symbol--reply;
  @apply --only-icon;
}

.action--reply-all {
  @apply --symbol--reply-all;
  @apply --only-icon;
}

.action--forward {
  @apply --symbol--forward;
  @apply --only-icon;
}

.action--whitelist {
  @apply --symbol--whitelist;
  @apply --only-icon;
}

.action--blacklist {
  @apply --symbol--blacklist;
  @apply --only-icon;
}

.action--another {
  @apply --symbol--ok;
}
