<form @submit.prevent="send" class="login">
  <div v-if="error" style="color:red">{{error}}</div>
  <div>username: <input v-model="params.username" required /></div>
  <div>password: <input v-model="params.password" type="password" required /></div>
  <div class="login__timezone">
    timezone:
    <multiselect
      v-model="params.timezone"
      :options="timezones"
      :allow-empty="false"
      deselect-label="Can't remove this value"
    ></multiselect>
  </div>
  <div>
    theme:
    <select v-model="params.theme">
      <option v-for="theme of themes">{{theme}}</option>
    </select>
  </div>

  <div><button type="submit">Send</button></div>
</form>
