<div :class="{msg: 1, 'msg--unread': msg.is_unread, 'msg--pinned': msg.is_pinned, 'msg--richer': msg.richer && 1, 'msg--picked': picked, 'msg--detailed': detailed, 'msg--opened': opened, 'msg--edited': edit}">
  <a class="msg-line" @click.prevent="openMsg(msg.uid)" :href="`#${msg.query_thread}`">
    <div
      class="msg-line__pick"
      @click.stop.prevent="pick(msg.uid)"
      :title="picked ? 'Uncheck' : 'Check'"
    />
    <div
      class="icon--pin"
      @click.stop.prevent="pin(msg)"
      :title="msg.is_pinned ? 'Unpin' : 'Pin'"
    />
    <div
      v-if="!msg.is_draft"
      class="icon--unread"
      @click.stop.prevent="read(msg)"
      :title="`Mark as ${msg.is_unread ? 'read' : 'unread'}`"
    />
    <div
      v-if="!thread && !msg.is_draft"
      class="icon--reply"
      @click.stop.prevent="reply(msg)"
      title="Reply"
    />
    <div
      v-if="msg.is_draft"
      class="icon--draft"
      @click.stop.prevent="open(msg.query_edit)"
      title="Edit draft"
    />
    <div
      class="icon--image"
      @click.stop.prevent="makeRicher"
      :title="msg.richer"
    />
    <div
      @click.stop.prevent="details(msg.uid)"
      class="icon--more"
      title="Details and actions"
    />
    <div class="msg-line__from">
      <template v-for="from in msg.from_list">
      <div
        v-if="from.hash"
        @click.stop.prevent="open(from.query)"
        :class="`msg-line__from__pic pic-${from.hash}`"
        :title="from.title"
      ></div>
      <div
        v-if="from.expander"
        class="msg-line__from__more"
        :title="`${from.expander} more addresses`"
      >…</div>
      </template>
      <div class="msg-line__from__name" :title="msg.from.title">{{msg.from.name}}</div>
    </div>
    <div class="msg-line__insight">
      <div
        v-if="msg.count > 1"
        class="msg-line__count"
        :title="`${msg.count} emails in thread`"
      >{{msg.count}}</div>
      <div class="msg-line__subj" :title="msg.subject">{{msg.subject}}</div>
      <div class="msg-line__text" :title="msg.preview" v-html="msg.preview" />
    </div>
    <div class="msg-line__end">
      <tags :opts="msg.tags" :open="open" :trancated="true" class="msg-line__tags" />
      <div
        v-if="msg.files.length"
        class="icon--attachment"
        :title="`${msg.files.length} attachments`"
      />
      <div class="msg-line__time" :title="msg.time_title">{{msg.time_human}}</div>
    </div>
    <div
      @click.stop.prevent="openInSplit"
      class="icon--open-in-split"
      title="Open in split pane"
    ></div>
  </a>
  <div class="msg__details msg__actions">
    <!-- <a href="#" class="icon-unread">Mark as {{msg.is_unread ? '' : 'un'}}read</a> -->
    <a href="#" @click.prevent="archive(msg)" class="icon--archive" title="Archive">Archive</a>
    <a href="#" @click.prevent="del(msg)" class="icon--trash" title="Move to Trash">Delete</a>
    <a v-if="!thread && !msg.is_draft" href="#" @click.prevent="reply(msg)" class="icon--reply" title="Reply">Reply</a>
    <a v-if="!thread && !msg.is_draft" href="#" @click.prevent="reply(msg, true)" class="icon--forward" title="Forward">Forward</a>
    <!-- <a href="#" class="icon--reply-all" title="Reply to all">Reply to all</a> -->
    <!-- <a href="#" class="icon--whitelist" title="Add address to Whitelist">Whitelist</a> -->
    <!-- <a href="#" class="icon--blacklist" title="Add address to Blacklist">Blacklist</a> -->
    <a v-if="!thread" @click.prevent="open(msg.query_thread)" :href="`#${msg.query_thread}`" class="icon--ok">Full thread</a>
    <a :href="`#${msg.query_msgid}`" class="icon--ok">Related replies</a>
    <a :href="msg.url_raw" class="icon--ok" target="_blank">Original message</a>
  </div>
  <div class="msg__details">
    <div
      class="msg__details__from-pic"
      :style="`background-image:url(/proxy?url=https://www.gravatar.com/avatar/${msg.from.hash}?d=mm&s=75);height:75px;width:75px;`"
    />

    <div class="msg__details__info">
      <div class="msg__details__subj">
        <span class="msg__details__label">Subject:</span>
        <a :href="`#${msg.query_subject}`" @click.prevent="open(msg.query_subject)" class="msg__details__value">
          {{msg.subject}}
        </a>
      </div>
      <div class="msg__details__from">
        <span class="msg__details__label">From:</span>
        <span class="msg__details__value">
          <b>{{msg.from.name}}</b>
          <a :href="`#${msg.from.query}`" @click.prevent="open(msg.from.query)">
            {{msg.from.addr}}
          </a>
        </span>
      </div>
      <template v-for="field in ['to', 'cc']">
        <div class="msg__details__to" v-if="msg[field]">
          <span class="msg__details__label">{{field[0].toUpperCase()}}{{field.slice(1)}}:</span>
          <span v-for="addr of msg[field]" class="msg__details__value">
            <b>{{addr.name}}</b>
            <a :href="`#${addr.query}`" @click.prevent="open(addr.query)">
              {{addr.addr}}
            </a>
          </span>
        </div>
      </template>
      <div class="msg__details__msgid">
        <span class="msg__details__label">Message-ID:</span>
        <a :href="`#${msg.query_msgid}`" @click.prevent="open(msg.query_msgid)" class="msg__details__value">
          {{msg.msgid}}
        </a>
      </div>
    </div>
  </div>
  <div class="msg__body">
    <template v-if="body === undefined">Loading...</template>
    <div v-if="body" v-html="body"/>
    <div v-if="msg.files.length" class="msg__body__files">
      <a
        v-for="f, idx of msg.files"
        :href="f.url"
        @click="f.image && slide($event, idx)"
        target="_blank"
      >{{f.filename}}</a>
    </div>
  </div>
</div>
