.msg-line {
  display: flex;
  align-items: center;
  line-height: @--line-height--l;
  box-sizing: border-box;
  padding: 0 0.2em;
  overflow: hidden;
  border-top: 1px solid @--color--white;
  border-radius: 0.5em;
  background-color: @--color--light-grey;
  color: @--color--dark-grey;
  font-size: @--font-size--s;

  .icon--pin,
  .icon--unread,
  .icon--attachment {
    display: flex;
    color: @--color--grey;

    &:hover {
      margin-top: 0.1em;
      margin-bottom: -0.1em;
      cursor: pointer;
    }
  }

  .icon--image {
    display: none;

    .msg--opened.msg--richer & {
      .icon--pin;
    }
  }

  .icon--open-in-split {
    display: none;

    .opt--split-on .main & {
      .icon--pin;
    }
  }

  .icon--more {
    .icon--pin;

    .msg--detailed & {
      color: @--color--green;
    }
  }

  .msg--opened &,
  .msg--detailed & {
    border-top: 1px solid @--color--grey;
    background-color: @--color--white;
  }

  .msg--unread & {
    & .icon--unread {
      color: @--color--black;
    }
  }

  .msg--pinned & {
    & .icon--pin {
      color: @--color--orange;
    }
  }
}

.msg-line__tags {
  margin-left: 0.2em;
  font-size: @--font-size--xs;
}

.msg-line__from {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.2em;
  color: inherit;
}

.msg-line__from__pic {
  height: @--pic-height;
  width: @--pic-height;
  margin-right: 0.2em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: @--color--white;

  &:hover {
    cursor: pointer;
  }
}

.msg-line__from__more {
  min-width: @--pic-height;
  line-height: @--pic-height;
  margin-right: 0.2em;
  background-color: @--color--white;
  text-align: center;

  .msg--opened &,
  .msg--detailed & {
    background-color: @--color--light-grey;
  }
}

.msg-line__from__name {
  margin-right: 0.2em;
  max-width: 5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .msg--unread & {
    font-weight: bold;
  }

  .msg--same-subj & {
    color: @--color--black;
  }
}

.msg-line__insight {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 0.1em;
  white-space: nowrap;
  overflow: hidden;
  background-color: inherit;
  color: inherit;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.msg-line__pick {
  display: flex;

  .thread & {
    display: none;
  }
}

.msg-line__count {
  padding: 0 0.2em;
  border: 0.2em solid @--color--light-grey;
  border-left: none;
  height: @--pic-height;
  line-height: @--pic-height;
  background-color: @--color--white;
  text-align: center;

  .msg--opened &,
  .msg--detailed & {
    background-color: @--color--light-grey;
    border-color: @--color--white;
  }
}

.msg-line__subj {
  margin-right: 0.2em;
  color: @--color--black;

  .msg--unread & {
    font-weight: bold;
  }
  .msg--same-subj & {
    display: none;
  }
}

.msg-line__text {
  margin-right: 0.2em;

  .msg--opened & {
    display: none;
  }
}

.msg-line__time {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 0.5em;
  background-color: inherit;

  .thread & {
    padding-right: 0.2em;
  }
}

.msg-hidden {
  display: flex;
  line-height: @--line-height--l;
  box-sizing: border-box;
  padding-left: 1em;
  border-top: 1px solid @--color--white;
  border-radius: 0.5em;
  background-color: @--color--light-grey;

  &:hover {
    text-decoration: none;
  }

  &:before {
    content: "---";
    margin-right: 0.2em;
  }

  &:after {
    content: "---";
    margin-left: 0.2em;
  }
}

.msg__actions {
  display: none;

  .msg--detailed & {
    display: flex;
    flex-flow: reverse nowrap;
    margin-bottom: 0.2em;
    white-space: nowrap;
    font-size: @--font-size--xs;

    & [class^="icon--"] {
      display: flex;
      margin: 0 0.2em;
    }
  }

  & .icon--archive,
  & .icon--reply,
  & .icon--reply-all,
  & .icon--forward,
  & .icon--trash,
  & .icon--blacklist,
  & .icon--whitelist {
    .--only-icon;
  }
}

.msg__body {
  display: none;
  padding: 0 0.2em;
  margin-top: 0.2em;

  .msg--opened & {
    display: block;
  }

  hr {
    border: none;
    border-bottom: 1px solid @--color--grey;
  }

  pre {
    white-space: pre-wrap;
  }
  pre, code {
    font-size: 0.9em;
  }
  blockquote {
    border-left: 1px solid #ccc;
    padding: 0;
    margin: 0;
    padding-left: 0.5em;
    margin-left: 0.5em;
  }

  h1 {font-size: 1.2em};
  h2 {font-size: 1.1em};
  h3 {font-size: 1.1em};
  h4 {font-size: 1.0em; font-weight: bold};
  h5 {font-size: 1.0em; font-weight: bold};
  h2 {font-size: 1.0em; font-weight: bold};
}

.msg__body__files {
  display: flex;
  flex-direction: column;
  padding: 0.2em;
  border-top: 1px solid @--color--grey;
}
