<div :class="{msg: 1, 'msg--unread': msg.is_unread, 'msg--pinned': msg.is_pinned, 'msg--richer': msg.richer && 1, 'msg--detailed': detailed, 'msg--opened': opened}">
  <div class="msg-line">
    <div
      class="icon--pin"
      @click="pin(msg)"
      :title="msg.is_pinned ? 'Unpin' : 'Pin'"
    ></div>
    <div
      v-if="!msg.is_draft"
      class="icon--unread"
      @click="read(msg)"
      :title="`Mark as ${msg.is_unread ? 'read' : 'unread'}`"
    ></div>
    <div
      v-if="msg.is_draft"
      class="icon--draft"
      title="Edit draft"
    ></div>
    <div
      v-if="msg.files.length"
      class="icon--attachment"
      :title="`${msg.files.length} attachments`"
    ></div>
    <div
      class="icon--image"
      @click="makeRicher"
      :title="msg.richer"
    ></div>
    <div @click.stop="details(msg.uid)" class="icon--more" title="Details and actions"></div>
    <tags :opts="msg.tags" :trancated="true" class="msg-line__tags" />
    <a class="msg-line__insight" @click.prevent="open(msg.uid)" :href="`#${msg.query_thread}`">
      <div class="msg-line__from">
        <template v-for="from in msg.from_list">
        <div
          v-if="from.hash"
          @click.stop.prevent="openInMain(from.query)"
          :class="`msg-line__from__pic pic-${from.hash}`"
          :title="from.title"
        ></div>
        <div
          v-if="from.expander"
          class="msg-line__from__more"
          :title="`${from.expander} more addresses`"
        >…</div>
        </template>
        <div class="msg-line__from__name" :title="msg.from.title">{{msg.from.name}}</div>
      </div>
      <div
        v-if="msg.count > 1"
        class="msg-line__count"
        :title="`${msg.count} emails in thread`"
      >{{msg.count}}</div>
      <div class="msg-line__subj" :title="msg.subject">{{msg.subject}}</div>
      <div class="msg-line__text" :title="msg.preview" v-html="msg.preview" />
      <div class="msg-line__time" :title="msg.time_title">{{msg.time_human}}</div>
    </a>
    <div class="msg-line__pick">
      <input :checked="picked" @change="pick(msg.uid)" type="checkbox">
    </div>
    <div
      @click.prevent="openInSplit"
      class="icon--open-in-split"
      title="Open in split pane"
    ></div>
  </div>
  <div class="msg__details msg__actions">
    <!-- <a href="#" class="icon-unread">Mark as {{msg.is_unread ? '' : 'un'}}read</a> -->
    <a href="#" @click.prevent="archive(msg)" class="icon--archive" title="Archive">Archive</a>
    <a href="#" @click.prevent="del(msg)" class="icon--trash" title="Move to Trash">Delete</a>
    <!-- <a href="#" class="icon--reply" title="Reply">Reply</a> -->
    <!-- <a href="#" class="icon--reply-all" title="Reply to all">Reply to all</a> -->
    <!-- <a href="#" class="icon--forward" title="Forward">Forward</a> -->
    <!-- <a href="#" class="icon--whitelist" title="Add address to Whitelist">Whitelist</a> -->
    <!-- <a href="#" class="icon--blacklist" title="Add address to Blacklist">Blacklist</a> -->
    <a v-if="!thread" :href="`#${msg.query_thread}`" class="icon--ok">Full thread</a>
    <a :href="msg.url_raw" class="icon--ok" target="_blank">Original message</a>
  </div>
  <div class="msg__details">
    <div
      class="msg__details__from-pic"
      :style="`background-image:url(/proxy?url=https://www.gravatar.com/avatar/${msg.from.hash}?d=mm&s=75);height:75px;width:75px;`"
    />

    <div class="msg__details__info">
      <div class="msg__details__subj">
        Subject:
        <a :href="`#${msg.query_subject}`" @click.prevent="openInMain(msg.query_subject)">
          {{msg.subject}}
        </a>
      </div>
      <div class="msg__details__from">
        From:
        <b>{{msg.from.name}}</b>
        <a :href="`#${msg.from.query}`" @click.prevent="openInMain(msg.from.query)">
          {{msg.from.addr}}
        </a>
      </div>
      <template v-for="field in ['to', 'cc']">
        <div class="msg__details__to" v-if="msg[field]">
          {{field[0].toUpperCase()}}{{field.slice(1)}}:
          <span v-for="addr of msg[field]">
            <b>{{addr.name}}</b>
            <a :href="`#${addr.query}`" @click.prevent="openInMain(addr.query)">
              {{addr.addr}}
            </a>
          </span>
        </div>
      </template>
      <div class="msg__details__msgid">
        Message-ID:
        <a :href="`#${msg.query_msgid}`" @click.prevent="openInMain(msg.query_msgid)">
          {{msg.msgid}}
        </a>
      </div>
    </div>
  </div>
  <div class="msg__body">
    <template v-if="body === undefined">Loading...</template>
    <div v-if="body" v-html="body"/>
    <div v-if="msg.files.length" class="msg__body__files">
      <a
        v-for="f, idx of msg.files"
        :href="f.url"
        @click="f.image && slide($event, idx)"
        target="_blank"
      >{{f.filename}}</a>
    </div>
  </div>
</div>
