.msgs__header {
  display: flex;
  justify-content: flex-start;
  height: 1.5em;
  line-height: 1.5em;
  margin-bottom: 0.2em;
  white-space: nowrap;
}

.msgs__search {
  display: flex;
  flex-grow: 10;

  & input {
    flex-grow: 10;
    max-width: 30em;

    &:focus {
      min-width: 20em
    }
  }
}

.msgs__picking {
  margin-left: 0.2em;

  & a {
    text-transform: lowercase;
  }
}

.msgs__actions {
  display: flex;
  justify-content: space-between;
  margin-left: 0.2em;
}

.msgs__tags {
  display: flex;
  align-items: stretch;
  height: 1.5em;
  line-height: 1.5em;
  margin: 0 0.2em;

  .tags {
    overflow: hidden;
  }
  .tags-edit {
    overflow: unset;
    margin-right: 0.2em;

    .picker__input {
      width: 10em;
    }
  }
}
