@import './root.css';

.msgs-header {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  margin-bottom: 0.2em;

  & .msgs-search {
    display: flex;
    flex-grow: 2;
    margin-left: 0.2em;

    & input {
      flex-grow: 10;
    }
  }

  & .msgs-picking a {
    text-transform: lowercase;
  }

  & .msgs-actions {
    margin-left: 0.2em;
  }
}

.msg {
  box-sizing: border-box;
  padding: 0 0.2em;
  background-color: var(--colorLightGrey);
  border-top: 1px solid var(--colorWhite);
  border-radius: 0.5em;

  &.msg-detailed {
    border-top: 1px solid var(--colorGrey);
    background-color: var(--colorWhite);

    & .msg-preview {
      & .msg-preview-subj,
      & .msg-preview-text,
      & .msg-date {
        background-color: var(--colorWhite);
      }
    }
  }

  & a {
    color: var(--colorGreen);
  }

  & .msg-line {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: var(--colorDarkGrey);
  }

  & .msg-actions {
    display: none;
  }

  &.msg-detailed .msg-actions {
    display: flex;
    flex-flow: reverse nowrap;
    white-space: nowrap;
    font-size: 90%;

    & > a {
      margin: 0 0.2em;
      text-decoration: none;
    }

    & .icon-next,
    & .icon-archive,
    & .icon-reply,
    & .icon-replyall,
    & .icon-forward,
    & .icon-trash,
    & .icon-ok,
    & .icon-spam {
      min-width: 1.2em;
      overflow: hidden;

      @nest .opt--only-icons & {
        width: 1.2em;
      }
    }
  }

  & .msg-pin,
  & .msg-unread,
  & .msg-more,
  & .msg-split {
    font-size: 90%;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }

  &.msg-is-pinned .msg-pin {
    color: var(--colorOrange);
  }

  &.msg-is-unread .msg-unread,
  &.msg-detailed .msg-more {
    color: var(--colorGreen);
  }

  & .msg-pick {
    display: flex;
  }

  & .msg-from {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 0.1em;

    & .msg-from-pic,
    & .msg-from-more {
      display: block;
      margin: 0 0.1em;
    }

    & .msg-from-pic {
      height: var(--picHeight);
      width: var(--picHeight);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;

      &:hover {
        cursor: pointer;
      }
    }

    & .msg-from-more {
      min-width: var(--picHeight);
      line-height: var(--picHeight);
      text-align: center;
      background-color: var(--colorWhite);
      font-size: 90%;
    }
  }

  & .msg-count {
    display: block;
    padding: 0 0.2em;
    border: 0.2em solid var(--colorLightGrey);
    border-right: none;
    height: var(--picHeight);
    line-height: var(--picHeight);
    background-color: var(--colorWhite);
    text-align: center;
    font-size: 90%;
  }

  & .msg-preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 20;
    margin: 0 0.2em;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      cursor: pointer;
    }

    & .msg-preview-from {
      max-width: 30%;
    }

    & .msg-preview-subj {
      padding-left: 0.2em;
      color: var(--colorBlack);
      background-color: var(--colorLightGrey);
    }

    & .msg-preview-text {
      flex-grow: 2;
      padding-left: 0.2em;
      background-color: var(--colorLightGrey);
    }

    & .msg-date {
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--colorLightGrey);
      padding-left: 0.5em;
    }
  }

  &.msg-is-unread .msg-preview {
    & .msg-preview-subj,
    & .msg-preview-from {
      font-weight: bold;
    }
  }

  & .tags {
    font-size: 90%;
  }
}
