:root {
  --colorR: green;
}

@custom-media --small (max-width: 1200px);

.msgs-header {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  margin-bottom: 0.2em;

  & .msgs-search {
    display: flex;
    flex-grow: 2;
    margin-left: 0.2em;

    & input {
      flex-grow: 10;
    }
  }

  & .msgs-picking a {
    text-transform: lowercase;
  }

  & .msgs-actions {
    margin-left: 0.2em;
  }
}

.msg {
  box-sizing: border-box;
  padding: 0 0.2em;
  background-color: #eee;
  border-top: 1px solid #fff;
  border-radius: 0.5em;

  &.msg-detailed {
    border-top: 1px solid #ccc;
    background-color: #fff;

    & .msg-preview {
      & .msg-preview-subj,
      & .msg-preview-text,
      & .msg-date {
        background-color: #fff;
      }
    }
  }

  & a {
    color: var(--colorR);
  }

  & .msg-line {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #777;
  }

  & .msg-actions {
    display: none;
  }

  &.msg-detailed .msg-actions {
    display: flex;
    flex-flow: reverse nowrap;
    white-space: nowrap;
    font-size: 90%;

    & > a {
      margin: 0 0.2em;
      text-decoration: none;
    }

    & .icon-next,
    & .icon-archive,
    & .icon-reply,
    & .icon-replyall,
    & .icon-forward,
    & .icon-trash,
    & .icon-ok,
    & .icon-spam {
      min-width: 1.2em;
      overflow: hidden;

      @nest .only-icons & {
        width: 1.2em;
      }
    }
  }

  & .msg-pick {
    line-height: 18px;
  }

  & .msg-pin,
  & .msg-unread,
  & .msg-more,
  & .msg-split {
    font-size: 90%;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }

  &.msg-is-pinned .msg-pin {
    color: #f63;
  }

  &.msg-is-unread .msg-unread,
  &.msg-detailed .msg-more {
    color: green;
  }

  & .msg-from {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 18px;
    margin-left: 0.1em;

    & .msg-from-pic,
    & .msg-from-more {
      display: block;
      margin: 0 1px;
    }

    & .msg-from-pic {
      height: 18px;
      width: 18px;
      background-position: center center;
      background-repeat: no-repeat;

      &:hover {
        cursor: pointer;
      }
    }

    & .msg-from-more {
      min-width: 18px;
      line-height: 18px;
      text-align: center;
      background-color: #fff;
      font-size: 90%;
    }
  }

  & .msg-count {
    display: block;
    line-height: 18px;
    padding: 0 0.2em;
    margin: 0.2em 0;
    background-color: #fff;
    text-align: center;
    font-size: 90%;
  }

  & .msg-preview {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-grow: 20;
    margin: 0 0.2em;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      cursor: pointer;
    }

    & .msg-preview-from {
      max-width: 30%;
    }

    & .msg-preview-subj {
      padding-left: 0.2em;
      color: #333;
      background-color: #eee;
    }

    & .msg-preview-text {
      flex-grow: 2;
      padding-left: 0.2em;
      background-color: #eee;
    }

    & .msg-date {
      position: absolute;
      right: 0;
      background-color: #eee;
      padding-left: 0.5em;
    }
  }

  &.msg-is-unread .msg-preview {
    & .msg-preview-subj,
    & .msg-preview-from {
      font-weight: bold;
    }
  }

  & .tags {
    font-size: 80%;
    padding: 0 2px;
  }
}
