:root {
  --colorR: green;
}

.msg-line {
  display: flex;
  justify-content: space-between;
  margin: 0 -2px;

  @nest & > a, & > i, & > span {
    white-space: nowrap;
    padding: 0 2px;
  }

  & a {
    color: var(--colorR);
  }

  & .msg-from img {
    height: 1em;
  }

  & .msg-subj {
    flex-basis: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .msg-date {
    align-self: flex-end;
  }

  & .tags {
    font-size: 90%;
  }
}
