<div class="pages">
  <div v-for="uids of pages">
    <div v-for="msg in page(uids)" :key="msg.uid" class="msg-line">
      <a :href="msg.parsed_url" target="_blank" title="Parsed message" >{{ msg.uid }}</a>
      <a :href="msg.origin_url" target="_blank" title="Origin message">[orig]</a>
      <a href="#" @click.prevent="search_header('message-id ', msg.message_id)">[msg-id]</a>
      <i>{{ msg.flags }}</i>
      <b class="msg-subj" @click.stop="search_header('x-subject', msg.subject)">
        {{ msg.subject }}
      </b>
      <span class="msg-date">{{ msg.date }}</span>
      <div v-if="msg.body" v-html="msg.body"></div>
    </div>
  </div>
  <a @click.prevent="loadMore()" href="#" v-if="canLoadMore()">Load more...</a>
</div>
