.app {
  display: flex;
  flex-flow: row nowrap;
  line-height: var(--lineHeight);
  background-color: var(--colorWhite);

  &.opt--bigger {
    font-size: 1.5em;
  }
}

.split {
  display: none;

  @nest .opt--split-on & {
    display: block;
  }
}

.main,
.split {
  box-sizing: border-box;
  min-width: 600px;
  width: 100vw;
  height: 100vh;
  padding: 0.2em;
  overflow-y: auto;

  @nest .opt--split-on & {
    width: 50vw;
  }

  @nest .opt--bigger & {
    min-width: 800px;
  }
}

.main__tags {
  display: flex;
  margin-bottom: 0.2em;
}

.main__actions {
  float: right;
  margin-top: -0.2em;
  font-size: 1em;
}

.main__actions__split {
  @apply --icon--split;

  @nest .opt--split-on & {
    color: var(--colorOrange);
  }
}

.main__actions__logout {
  @apply --icon--logout;
}

.main__actions__bigger {
  @apply --icon--font;

  @nest .opt--bigger & {
    color: var(--colorOrange);
  }
}
