.login {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--colorLightGrey);

  & > div {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.2em;

    & .picker,
    & > input,
    & > select {
      width: 150px;
      margin-left: 0.5em;
    }
  }
}

div.login__error {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  justify-content: center;
  color: red;
}
