.picker {
  position: relative;

  &.picker--active {
    z-index: 1;
  }
}

.picker__input {
  width: 100%;
}

.picker__opts {
  display: none;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  padding: 0 0.1em;
  margin-top: -1px;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 100%;
  max-height: 300px;
  line-height: 20px;
  font-size: 14px;
  background-color: var(--colorWhite);
  border: 1px solid var(--colorGrey);

  @nest .picker--active & {
    display: block;
  }
}

.picker__opts__item {
  cursor: pointer;

  &.picker__opts__item--active {
    background-color: var(--colorLightGrey);
  }
}
