<form @submit.prevent="" :class="['picker', {'picker--active': active}]">
  <input
    ref="input"
    v-model="filter"
    @keyup="activate"
    @keyup.esc.prevent="set(value)"
    @keydown.up.prevent="select('up')"
    @keydown.page-up.prevent="select('up', perPage)"
    @keydown.down.prevent="select('down')"
    @keydown.page-down.prevent="select('dwon', perPage)"
    @keyup.enter.prevent="set()"
    class="picker__input"
    :disabled="disabled"
    :readonly="filterOff"
    :placeholder="title"
  />
  <div ref="opts" class="picker__opts">
    <div
      v-for="opt of filtered"
      v-html="fnDisplay(opt)"
      @click="set(opt)"
      :data-value="opt"
      :class="{'picker__opts__item': 1, 'picker__opts__item--active': opt==selected}"
    ></div>
  </div>
</form>
