<form @submit.prevent="" :class="['picker', {'picker--active': active}]">
  <input v-model="filter"
    @keyup="activate"
    @keyup.esc.prevent="set(value)"
    @keydown.up="select('up')"
    @keydown.page-up="select('up', perPage)"
    @keydown.down="select('down')"
    @keydown.page-down="select('dwon', perPage)"
    @keyup.enter="set()"
    class="picker__input"
    :disabled="disabled"
    :readonly="filterOff"
  />
  <div class="picker__opts">
    <div
      v-for="opt of filtered"
      @click="set(opt)"
      :data-value="opt"
      :class="{'picker__opts__item': 1, 'picker__opts__item--active': opt==selected}"
    >{{opt}}</div>
  </div>
</form>
