:root {
  --colorWhite: #fff;
  --colorBlack: #333;
  --colorGrey: #ccc;
  --colorLightGrey: #eee;
  --colorDarkGrey: #777;
  --colorGreen: green;
  --colorOrange: #f63;
  --fontSize: 15px;
  --lineHeight: 1.8em;
  --picHeight: 18px;
}
