<form @submit.prevent="" :class="['select2', {'select2--active': active}]">
  <input v-model="filter"
    @keyup="activate"
    @keyup.esc.prevent="set(value)"
    @keydown.up="select('up')"
    @keydown.page-up="select('up', perPage)"
    @keydown.down="select('down')"
    @keydown.page-down="select('dwon', perPage)"
    @keyup.enter="set()"
    class="select2__input"
    :readonly="filterOff"
  />
  <div class="select2__opts">
    <div
      v-for="opt of filtered"
      @click="set(opt)"
      :data-value="opt"
      :class="{'select2__opts__item': 1, 'select2__opts__item--active': opt==selected}"
    >{{opt}}</div>
  </div>
</form>
