<div
  @focus.capture="activate"
  @blur.capture="deactivate"
  @keyup.esc.capture="deactivate"
  @keyup.enter.capture="select()"
  @keyup.up="focus('select')"
  @keyup.down="focus('select')"
  @keyup.delete="focus('input')"
  @keyup.left="focus('input')"
  @keyup.right="focus('input')"
  :class="['select2', {'select2--active': active}]"
>
  <form>
  <input v-model="filter" @change="activate"  class="select2__input" />
  <select class="select2__select" size="10">
    <option
      v-for="opt of filtered"
      @dblclick="select(opt)"
      :selected="opt==value"
    >{{opt}}</option>
  </select>
  </form>
</div>
