.tags {
  display: flex;
  justify-content: space-between;
  margin: 0 -2px;

  & .tag {
    max-width: 10em;
    padding: 0 0.1em;
    margin: 0 0.1em;
    line-height: 18px;
    color: green;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      background-color: #fff;
    }
  }
}
