<div :class="['tags', name]">
  <template v-if="name == 'tags'">
  <a
    v-for="tag in optsInfo"
    @click.prevent="openInMain(tag)"
    :title="tag.name"
    :class="{tags__item: 1, 'tags__item--unread': unread && tag.unread, 'tags__item--edit': edit}"
    :href="`#${tag.query}`"
  >
    {{trancated ? tag.short_name : tag.name}}
    <div class="tags__item__unread">{{tag.unread}}</div>
    <div @click.prevent.stop="remove(tag.id)" class="icon--remove" title="Remove"></div>
  </a>
  </template>
  <template v-if="name == 'tags-select'">
    <picker
      value=""
      :title="`🏷 ${optsInfo.length} tags… (${totalUnread})`"
      :opts="opts"
      :fnUpdate="update"
      :fnFilter="filter"
    >
      <div
        slot="opt"
        slot-scope="$"
        :class="{'tags-select__item': 1,'tags__item--unread': info[$.opt].unread}"
      >
        <div>{{tagName($.opt)}}</div>
        <div class="tags__item__unread">{{info[$.opt].unread}}</div>
      </div>
    </picker>
  </template>
  <template v-if="name == 'tags-edit'">
    <picker
      ref="picker"
      value=""
      :title="`🏷 ${changed.length} tags ${noChanges ? 'applied' : 'selected'}`"
      :opts="opts"
      :fnApply="apply"
      :fnCancel="cancel"
      :fnUpdate="update"
      :fnFilter="filter"
      :class="{'tags--edited': !noChanges}"
      @keyup.ctrl.enter.capture.prevent="apply"
    >
      <button
        type="button"
        slot="header"
        class="icon--ok"
        :disabled="noChanges"
        @click="apply"
      ></button>
      <div
        slot="opts-title"
        slot-scope="_"
        v-if="_.filter"
        :class="{'tags-edit__add': 1, 'picker__opts__item': 1, 'picker__opts__item--active': _.filter==_.selected}"
        :data-value="_.filter"
        @click="_.set(_.filter)"
      >
        {{_.filter}} <div class="tags-edit__add">Add</div>
      </div>
      <template slot="opt" slot-scope="_">
        {{tagName(_.opt)}}
        <input class="tags__pick" type="checkbox" :checked="tagChecked(_.opt)" />
      </template>
    </picker>
  </template>
</div>
