.tags {
  display: flex;
  margin: 0 -0.1em;
}

.tags-select {
  .picker__input {
    width: 10em;
  }
}
.tags-edit {
  .tags--edited {
    .icon--ok {
      color: @--color--orange;
    }
    .picker__input {
      &::placeholder {
        color: @--color--orange;
      }
    }
  }
  .picker__opts__item {
    display: flex;
    justify-content: space-between;
  }
}

.tags__item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 1.5em;
  padding: 0 0.1em;
  margin: 0 0.1em;
  background-color: @--color--light-grey;
  border: 1px solid @--color--light-grey;
  color: @--color--green;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    background-color: @--color--white;
  }

  .icon--remove {
    display: none;
  }

  &.tags__item--edit {
    padding-right: 0;

    .icon--remove {
      display: block;
      font-size: @--font-size--s;

      &:hover {
        color: @--color--orange;
      }
    }
  }
}

.tags__item--unread {
  font-weight: bold;
}

.tags__item__unread {
  display: none;

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }

  .tags__item--unread & {
    display: inline;
  }
}
