<div :class="['tags', name]">
  <template v-if="name == 'tags'">
  <a
    v-for="tag in optsInfo"
    @click.prevent.stop="openInMain(tag)"
    :title="tag.name"
    :class="{tags__item: 1, 'tags__item--unread': unread && tag.unread, 'tags__item--edit': edit}"
    :href="`#${tag.query}`"
  >
    {{trancated ? tag.short_name : tag.name}}
    <div class="tags__item__unread">{{tag.unread}}</div>
    <div @click.prevent.stop="remove(tag.id)" class="icon--remove" title="Remove"></div>
  </a>
  </template>
  <template v-if="name == 'tags-select'">
    <picker
      value=""
      ref="picker"
      :title="`${optsInfo.length} tags… (${totalUnread})`"
      :opts="opts"
      :fnUpdate="update"
      :fnFilter="filter"
    >
      <template slot="header">
        <div class="icon--tags" />
      </template>
      <template slot="opts" slot-scope="_">
        <div
          v-for="opt of _.opts"
          v-if="info[opt]"
          @click="_.set(opt)"
          :data-value="opt"
          :class="`${_.cls(opt)} ${info[opt].unread ? 'tags__item--unread' : ''}`"
        >
          {{tagName(opt)}}
          <div class="tags__item__unread">{{info[opt].unread}}</div>
        </div>
      </template>
    </picker>
  </template>
  <template v-if="name == 'tags-edit'">
    <picker
      ref="picker"
      value=""
      :title="`${picked.length} tags ${noChanges ? 'applied' : 'selected'}`"
      :opts="sort"
      :fnApply="apply"
      :fnCancel="cancel"
      :fnUpdate="update"
      :fnFilter="filter"
      :class="{'tags--edited': !noChanges}"
      @keyup.ctrl.enter.capture.prevent="apply"
    >
      <template slot="header">
        <div class="icon--tags" />
        <div class="icon--ok" @click="apply" />
      </template>
      <template slot="opts-title" slot-scope="_">
        <div v-if="failed" class="tags-edit__failed">
          tag shouldn't start with "#" or "\"
        </div>

        <div
          v-if="_.filter && !info[_.filter]"
          @click="_.set(_.filter)"
          :data-value="_.filter"
          :class="`tags-edit__add ${_.cls(_.filter)}`"
          title="Add new tag"
        >
          {{_.filter}}
          <div class="icon--add" />
        </div>
      </template>
      <template slot="opts" slot-scope="_">
        <div
          v-for="opt of _.opts"
          @click="_.set(opt)"
          :data-value="opt"
          :class="`${_.cls(opt)}`"
        >
          {{tagName(opt)}}
          <input class="tags__pick" type="checkbox" :checked="tagChecked(opt)" />
        </div>
      </template>
    </picker>
  </template>
</div>
