.tags {
  display: flex;

  .icon--tags {
    position: absolute;
    top: 0;
    left: 3px;
    cursor: pointer;
  }

  .picker__header {
    color: @--color--green;
    background: inherit;
  }

  .picker__input {
    width: 10em;
    padding-left: 1.5em;
    border-color: @--color--light-grey;
    background-color: @--color--light-grey;

    &::placeholder {
      color: @--color--green;
      text-align: center;
      opacity: unset;
      font-weight: normal;
    }

    &:hover {
      background-color: @--color--white;
      border-color: @--color--grey;
    }

    &:focus {
      border-left: 3px solid @--color--orange;
    }
  }

  .picker__opts__item {
    padding-right: 0;
  }
}

.tags-select__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.tags-edit {
  .tags-edit__add {
    display: flex;
    align-items: stretch;
    font-weight: bold;
  }

  .tags-edit__failed {
    color: @--color--orange;
  }

  .icon--ok {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .icon--add {
    color: @--color--orange;
  }

  .picker__input {
    padding-right: 1.5em;
  }

  .picker__opts__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tags--edited {
    .picker__header {
      color: @--color--orange;
    }

    .picker__input {
      &::placeholder {
        color: @--color--orange;
      }
    }
  }
}

.tags__item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 1.5em;
  padding: 0 0.1em;
  margin-right: 0.2em;
  background-color: @--color--light-grey;
  border: 1px solid @--color--light-grey;
  color: @--color--green;
  white-space: nowrap;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
    background-color: @--color--white;
  }

  .icon--remove {
    display: none;
  }

  &.tags__item--edit {
    padding-right: 0;

    .icon--remove {
      display: block;
      font-size: @--font-size--s;

      &:hover {
        color: @--color--orange;
      }
    }
  }

}

.tags__item--unread {
  font-weight: bold;
}

.tags__item__unread {
  display: none;

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }

  .tags__item--unread & {
    display: inline;
  }
}
