@import './font/icons.less';
@import './base.less';
@import './tags.less';
@import './picker.less';
@import './slider.less';
@import './editor.less';
@import './msg.less';
@import './msgs.less';
@import './login.less';
@import './app.less';

/* Material Design: Blue Grey
https://material.io/guidelines/style/color.html#color-color-palette

50  #eceff1
100 #cfd8dc
200 #b0bec5
300 #90a4ae
400 #78909c
500 #607d8b
600 #546e7a
700 #455a64
800 #37474f
900 #263238
*/
@--color--white: #fff;
@--color--light-grey: #eceff1;
@--color--grey: #90a4ae;
@--color--dark-grey: #546e7a;
@--color--black: #263238;
@--color--green: #388e3c;
@--color--orange: #ff6f00;

// Sizes & heights
@--font-size: 100%;
@--font-size--s: 0.9375rem; // 15px
@--font-size--xs: 0.875rem; // 14px
@--line-height: 1.5rem;
@--line-height--s: 1.2rem;
@--line-height--l: 2rem;
@--pic-height: 20px;
