@import './index.css';

/* Material Design: Teal
 * https://material.io/guidelines/style/color.html#color-color-palette
 */
:root {
  --colorWhite: #fff;
  --colorLightGrey: #e0f2f1;
  --colorGrey: #e0f2f1;
  --colorDarkGrey: #26a69a;
  --colorBlack: #004d40;
  --colorGreen: #009688;
  --colorOrange: #ff9800;

  /* Sizes & heights */
  --fontSize: 100%;
  --lineHeight: 1.8em;
  --picHeight: 20px;
}
