@import './icons.css';
@import './tags.css';
@import './picker.css';
@import './msgs.css';
@import './page-login.css';
@import './page-index.css';

html,
body {
  padding: 0;
  margin: 0;
  font-size: var(--fontSize);
}

a {
  color: var(--colorGreen);
  outline: 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input {
  box-sizing: border-box;
  border: 1px solid var(--colorGrey);
  padding: 0.1em 0.2em;
  color: var(--colorBlack);
  background: var(--colorWhite);

  &:focus {
    outline: 0;
    border-left: 3px solid var(--colorOrange);
  }
}
