@import './index.css';

/* Material Design: Amber
 * https://material.io/guidelines/style/color.html#color-color-palette
 */
:root {
  --colorWhite: #fff;
  --colorLightGrey: #fff8e1;
  --colorGrey: #ff8f00;
  --colorDarkGrey: #777;
  --colorBlack: #333;
  --colorGreen: #ff8f00;
  --colorOrange: #ff6f00;

  /* Sizes & heights */
  --fontSize: 100%;
  --lineHeight: 1.8em;
  --picHeight: 20px;
}
