@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Philosopher:700,700italic|Anonymous+Pro:400,700,400italic,700italic&subset=latin,cyrillic);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
  font-family: 'fontello';
  src: url('/theme/font/fontello.eot?15871969');
  src: url('/theme/font/fontello.eot?15871969#iefix') format('embedded-opentype'),
       url('/theme/font/fontello.woff?15871969') format('woff'),
       url('/theme/font/fontello.ttf?15871969') format('truetype'),
       url('/theme/font/fontello.svg?15871969#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/theme/font/fontello.svg?15871969#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\e807'; } /* '' */
.icon-sent:before { content: '\e80d'; } /* '' */
.icon-star-empty:before { content: '\e800'; } /* '' */
.icon-reply:before { content: '\e809'; } /* '' */
.icon-reply-all:before { content: '\e808'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-trash:before { content: '\e80f'; } /* '' */
.icon-archive:before { content: '\e80b'; } /* '' */
.icon-box:before { content: '\e80c'; } /* '' */
.icon-loader:before { content: '\e80e'; } /* '' */
.icon-forward:before { content: '\e80a'; } /* '' */

body {
  font: 1em/1.4 "PT Sans", sans-serif;
  font-weight: 400;
}
a {
  color: #008000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
a:hover,
a:focus,
a:active {
  color: #f63;
  border-bottom-color: #f63;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: 1.1em "Philosopher", sans-serif;
  font-weight: 700;
  margin-bottom: 0.3em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
.labels {
  font-size: 14px;
}
.email {
  position: relative;
  background-color: #eee;
  border-top: 1px solid #fff;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  padding: 3px 0;
}
.email span {
  display: inline-block;
  vertical-align: top;
}
.email-unread .email-subject {
  font-weight: bold;
}
.email-pics img {
  vertical-align: middle;
}
.email-from {
  width: 90px;
  padding: 0 5px;
  overflow: hidden;
  background-color: #eee;
}
.email-star {
  color: #f63;
}
.email-labels a {
  display: inline-block;
  vertical-align: top;
  color: #777;
  border: 1px solid #ccc;
  padding: 0 2px;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
}
.email-labels a:hover {
  color: #f63;
  border: 1px solid #f63;
}
.email-subject {
  margin-right: 120px;
  overflow: hidden;
}
.email-date {
  position: absolute;
  right: 0;
  height: 100%;
  text-align: right;
  padding: 0 5px;
  background-color: #eee;
}
