@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Philosopher:700,700italic|Anonymous+Pro:400,700,400italic,700italic&subset=latin,cyrillic);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
  font-family: 'fontello';
  src: url('/theme/font/fontello.eot?15871969');
  src: url('/theme/font/fontello.eot?15871969#iefix') format('embedded-opentype'), url('/theme/font/fontello.woff?15871969') format('woff'), url('/theme/font/fontello.ttf?15871969') format('truetype'), url('/theme/font/fontello.svg?15871969#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/theme/font/fontello.svg?15871969#fontello') format('svg');
  }
}
*/
html {
  height: 100%;
}
body {
  position: relative;
  min-width: 1000px;
  margin: 0 auto;
  height: 100%;
  font: 1em/1.4 "PT Sans", sans-serif;
  font-weight: 400;
}
a {
  color: #008000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
a:hover,
a:focus,
a:active {
  color: #ff6633;
  border-bottom-color: #ff6633;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: 1.1em "Philosopher", sans-serif;
  font-weight: 700;
  margin-bottom: 0.3em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
blockquote {
  padding-left: 10px;
  border-left: 1px solid #ccc;
  color: #777777;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader:before {
  content: '\e80e';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.loader:before {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  outline: 1px solid #eeeeee;
}
.panel-side {
  left: 50%;
}
.panel-head {
  position: relative;
  margin: 0 10px;
  height: 30px;
  white-space: nowrap;
}
.panel-head .loader-fixed {
  display: inline-block;
}
.panel-head .loader-fixed:before {
  content: '\e80e';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.panel-head .loader-fixed:before {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.panel-head button {
  display: none;
}
.panel-body {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  overflow-y: auto;
}
.labels {
  font-size: 14px;
}
.email-labels a {
  display: inline-block;
  vertical-align: middle;
  color: #777777;
  border: 1px solid #b3b3b3;
  padding: 0 2px;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
}
.email-labels a:hover {
  color: #ff6633;
  border: 1px solid #ff6633;
}
.email-line {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9em;
  line-height: 1.2em;
  padding: 3px 5px;
  background-color: #eeeeee;
  border-top: 1px solid #ffffff;
  border-radius: 7px;
}
.email-line > li {
  display: inline-block;
  vertical-align: middle;
}
.email-line .email-star {
  color: #777777;
  font-size: 120%;
}
.email-line .email-star:before {
  content: '\e800';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.email-line .email-star:hover {
  margin-top: 1px;
  cursor: pointer;
  margin-bottom: -1px;
}
.email-line .email-star.email-starred {
  color: #ff6633;
}
.email-line .email-pics {
  line-height: 1em;
}
.email-line .email-subject {
  width: 100%;
}
.email-line .email-date {
  position: absolute;
  top: 0;
  right: 0;
  height: 1.2em;
  text-align: right;
  padding: 3px 5px;
  background-color: #eeeeee;
}
.email-line .email-info {
  cursor: pointer;
}
.email-line .email-from {
  width: 90px;
  padding: 0 5px;
  overflow: hidden;
}
.email-line .email-subject {
  color: #777777;
}
.email-line .email-subject b {
  color: #008000;
}
.email-head {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9em;
  line-height: 1.2em;
  padding: 3px 5px;
  background-color: #ffffff;
  border-top: 2px solid #e2e2e2;
  border-radius: 7px;
  color: #777777;
}
.email-head > li {
  display: inline-block;
  vertical-align: middle;
}
.email-head .email-star {
  color: #777777;
  font-size: 120%;
}
.email-head .email-star:before {
  content: '\e800';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.email-head .email-star:hover {
  margin-top: 1px;
  cursor: pointer;
  margin-bottom: -1px;
}
.email-head .email-star.email-starred {
  color: #ff6633;
}
.email-head .email-pics {
  line-height: 1em;
}
.email-head .email-subject {
  width: 100%;
}
.email-head .email-date {
  position: absolute;
  top: 0;
  right: 0;
  height: 1.2em;
  text-align: right;
  padding: 3px 5px;
  background-color: #ffffff;
}
.email-head .email-info {
  cursor: pointer;
}
.email-head .email-from {
  font-weight: bold;
  width: auto;
  margin-right: 1em;
}
.email-head .email-date {
  font-weight: bold;
}
.email-body {
  padding: 10px;
}
.email-body .email-quote {
  display: none;
}
.email-body .email-quote-switch {
  display: inline-block;
  cursor: pointer;
  color: #777777;
  line-height: 0.8;
  border: 1px solid #b3b3b3;
  padding: 0 5px;
  margin: 5px 0;
  background-color: #eeeeee;
}
.email-body .email-quote-switch:before {
  content: '\e802';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.email-body .email-quote-switch:hover {
  color: #333;
  background-color: #b3b3b3;
}
.email-body .email-attachments {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}
.email-body .email-attachments ul {
  list-style: decimal;
  margin-left: 2em;
}
.email-unread .email-subject {
  font-weight: bold;
}
.thread .email-group,
.thread .email-head,
.thread .email-body,
.thread .email-pick {
  display: none;
}
.thread .email-line .email-subject b {
  display: none;
}
.thread .email-showed .email-head,
.thread .email-showed .email-body {
  display: block;
}
.thread .email-showed .email-line {
  display: none;
}
.thread .email-group-show {
  color: #008000;
  border-top: 1px solid #ffffff;
  border-radius: 7px;
  background-color: #eeeeee;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.compose-form .compose-subject,
.compose-form .compose-to,
.compose-form .compose-from {
  position: relative;
  height: 25px;
}
.compose-form .compose-subject input,
.compose-form .compose-to input,
.compose-form .compose-from input {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  border: none;
  border-bottom: 1px solid #777777;
}
.compose-form textarea {
  position: absolute;
  top: 75px;
  bottom: 0;
  left: 10px;
  right: 10px;
  border: 1px solid #777777;
}
