@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Philosopher:700,700italic|Anonymous+Pro:400,700,400italic,700italic&subset=latin,cyrillic);
@import (inline) url(./reset.css);
@import url(./font/fontello.less);

body {
    font: 1em/1.4 "PT Sans", sans-serif;
    font-weight: 400;
}
a {
    color: #008000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
a:hover, a:focus, a:active {
    color: #f63;
    border-bottom-color: #f63;
}
h1, h2, h3, h4, h5, h6 {
    font: 1.1em "Philosopher", sans-serif;
    font-weight: 700;
    margin-bottom: 0.3em;
}
h1 {
    font-size: 1.3em;
}
h2 {
    font-size: 1.2em;
}
.panel-one {
}
.labels {
    font-size: 14px;
}
.email {
    position: relative;
    background-color: #eee;
    border-top: 1px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    padding: 3px 0;
}
.email span {
    display: inline-block;
    vertical-align: top;
}
.email-unread .email-subject {
    font-weight: bold;
}
.email-pics img {
    vertical-align: middle;
}
.email-from {
    width: 90px;
    padding: 0 5px;
    overflow: hidden;
    background-color: #eee;
}
.email-star {
    color: #f63;
    .icon-star-empty;
}
.email-labels a {
    display: inline-block;
    vertical-align: top;
    color: #777;
    border: 1px solid #ccc;
    padding: 0 2px;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
}
.email-labels a:hover {
    color: #f63;
    border: 1px solid #f63;
}
.email-subject {
    margin-right: 120px;
    overflow: hidden;
}
.email-date {
    position: absolute;
    right: 0;
    height: 100%;
    text-align: right;
    padding: 0 5px;
    background-color: #eee;
}
