<div v-if="title" class="title">
    <a v-if="hidden" v-on="click: go" href="?full=1" class="thread-full" title="Show all messages">{{hidden}} hidden</a>
    {{title}}
</div>
<ul v-if="emails" v-class="emails: 1, thread: thread">
<li v-repeat="emails.items" track-by="id" v-class="
        email: 1,
        email-show: body.show,
        email-unread: unread,
        email-pinned: pinned,
    "
>
    <ul class="email-line">
        <li class="email-pick"><input v-on="change: pick($data)" v-model="checked" type="checkbox" class="mousetrap"></li>
        <li v-if="draft" class="email-draft">Draft</li>
        <li v-if="!draft" class="email-pin" v-on="click: pin" title="Toggle Pin"></li>
        <li class="email-pic" v-on="click: getOrGo($event, true)" v-style="'background-image:url(' + fr.image + ')'"></li>
        <li class="email-from" v-on="click: getOrGo($event, true)" title="{{fr.full}}">{{fr.short}}</li>
        <li v-if="labels" class="email-labels">
            <a v-repeat="labels" href="{{ $value | labelUrl}}" v-on="click: go" class="label">{{$value | trancate}}</a>
        </li>
        <li class="email-info" v-on="click: getOrGo">
            <span v-if="count" class="email-count">{{count}}</span>
            <a href="{{url}}" v-class="email-subj: 1, email-subj-changed: subj_changed">
                {{subj_human}}
            </a>
        <span class="email-preview">{{preview}}</span>
        <span class="email-expander">&nbsp;</span>
        <span class="email-time" title="{{time}}">{{time_human}}</span>
        </li>
    </ul>
    <div class="email-body">
        <div v-if="body.show" class="email-details">
            <div class="email-actions">
                <a href="#" v-on="click: details">Details</a>
                <a v-if="to_all" href="{{links.replyall}}" v-on="click: reply">Reply to all</a>
                <a href="{{links.reply}}" v-on="click: reply">Reply</a>
                <a href="{{links.forward}}" v-on="click: reply">Forward</a>
                <template v-if="thread && emails.length > 1"}}>
                <a href="{{links.body}}" v-on="click: go">Show this message</a>
                <a href="#" v-on="click: extract">Extract new thread</a>
                </template>
                <a v-if="!thread" href="{{links.thread}}">Show full thread</a>
                <a href="#" v-on="click: delete" title="Delete this message">Delete</a>
                <a href="{{links.raw}}" target="_blank">Show original</a>
                <a href="#" v-on="click: unreadFromHere">Mark unread from here</a>
            </div>
            <div class="email-extra" v-show="body.details">
                <img  v-attr="src: fr.image">
                <ul>
                    <li>Subject: <a v-on="click: go" href="{{subj_url}}" title="Filter by subject">{{subj}}</a></li>
                    <li>From: <span  class="email-addr">
                        <b v-if="fr.name">{{fr.name}}</b>
                        <a v-on="click: go" href="{{fr.url}}" title="Filter by email">{{fr.email}}</a>
                    </span></li>
                    <li>To: <span v-repeat="to" class="email-addr">
                        <b v-if="name">{{name}}</b>
                        <a v-on="click: go" href="{{url}}" title="Filter by email">{{email}}</a>
                    </span></li>
                    <li>Cc: <span v-repeat="cc" class="email-addr">
                        <b v-if="name">{{name}}</b>
                        <a v-on="click: go" href="{{url}}" title="Filter by email">{{email}}</a>
                    </span></li>
                </ul>
            </div>
        </div>
        <div class="email-text" v-body="body.text || ''"></div>
        <div v-if="body.attachments" class="email-attachments">
            <ul>
                <li v-repeat="body.attachments.items">
                    <a v-on="click: showSlider" href="{{url}}" title="{{name}}" target="_blank">{{name}}</a>
                </li>
            </ul>
        </div>
        <div v-if="body.text === undefined" class="email-text">
            <b>Loading...</b>
        </div>
    </div>
</li>
<li v-if="next" class="emails-more">
    <a v-on="click: go" href="{{next && next.url}}">Next page</a>
</li>
</ul>
<div v-if="reply_body" class="compose-body"></div>
