<div v-if="show_help" class="help">
    <h3>
        Keyboard shortcuts
        <a v-on="click: closeHelp" class="help-close" title="Close">X</a>
    </h3>
    {{{help}}}
</div>
<div class="sidebar">
<b>
    {{username}}
    (<span v-if="email">{{email}}</span><a v-if="!email" href="/api/gmail/">connect</a>)
</b>
<nav>
    <a href="#" v-on="click: logout" class="logout" title="Logout"></a>
    <a href="#" v-on="click: showHelp" class="help-toggle" title="Keyboard shortcut help"></a>
    <a v-if="email" href="/compose/new/" v-on="click: go" class="compose-new">Compose</a>
</nav>
<template v-if="labels">
<form class="search-form" action="/search/" v-on="submit: search">
    <input type="text" v-model="search_query">
    <button type="submit" class="search"></button>
</form>
<ul class="labels">
<li v-repeat="labels.items">
    <a href="{{url}}" v-on="click: go" v-class="label-unread: unread">
        {{name}}<template v-if="unread"> ({{unread}})</template>
    </a>
</li>
</ul>
</template>
</div>
<div class="body" v-if="!labels">
    <template v-if="email">
    Please wait for complete synchronization.
    </template>

    <a v-if="!email" href="/api/gmail/">Please, connect your gmail account.</a>
</div>
