<div v-class="header: 1, labels-exists: 1, labels-show: labels_edit">
    <form class="search" v-on="submit: search">
        <input v-on="focus: focusSearch" type="text" v-model="search_query" class="input"><!--
        --><button v-on="click: resetSearch" type="button" class="input--x"></button><!--
        --><button type="submit" class="input--ok"></button>
    </form>
    <div class="labels">
        <button v-on="click: showSearch" class="labels--search" title="Show search bar"></button>
        <div class="labels-current">
            <button v-on="click: archive" class="labels-b-arch" title="Archive"></button>
            <button v-if="showTrash" v-on="click: del" class="labels-b-del" title="Delete"></button>
            <button v-if="showSpam" v-on="click: spam" class="labels-b-spam" title="Spam"></button>
            <button v-if="showMerge" v-on="click: link" class="labels-b-link" title="Link threads"></button>
            <a v-repeat="labels_sel" v-on="click: go" href="{{$value | labelUrl}}" class="label">
                {{$value | trancate}}
                <span  v-on="click: mark('-', $value, $event)" class="label-del" title="Delete"></span>
            </a>
            <button class="labels--edit" title="Edit labels"></button>
        </div>
        <div v-if="labels_sel" class="labels-input">
            <span><input/></span><!--
            --><button type="button" class="input--x"></button><!--
            --><button type="submit" class="input--ok"></button>
        </div>
    </div>
</div>
<div class="sidebar">
    <div class="nav-info">
        <img class="nav-pic" src="{{image}}">
        <div v-if="username" class="nav-username">{{username}}</div>
        <a v-on="click: logout" class="nav-logout" title="Logout" href="#"></a>
        <div class="nav-email">
            <span v-if="email">{{email}}</span>
            <a v-if="!email" href="/api/gmail/">connect</a>
        </div>
        <div v-if="last_sync" class="nav-last-sync">{{last_sync}} - last sync</div>
    </div>
    <div class="nav-options">
        <a v-on="click: showHelp" class="nav-help" title="Keyboard shortcut help" href="#"></a>
        <a v-on="click: toggleFont" class="nav-font" title="Toggle font size" href="#"></a>
        <a v-if="email" href="/compose/new/" v-on="click: go" class="nav-compose">Compose</a>
    </div>
    <ul class="nav-tabs">
        <li class="nav-title">
            Tabs <span v-on="click: newTab" class="nav--new"></span>
        </li>
        <li v-repeat="tabs">
            <a v-on="click: go" v-class="nav-active: $index == tab" href="/{{$index}}{{url}}">
                <span v-on="click: delTab" class="nav--x"></span>
                {{name}}&nbsp;
                <span v-if="$index == tab" v-on="click: reload" class="nav--reload"></span>
            </a>
        </li>
    </ul>
    <ul v-if="labels" class="nav-labels">
        <li class="nav-title">Labels</li>
        <li v-repeat="labels.items">
            <a href="{{url}}" v-on="click: go" v-class="label-unread: unread">
                <span class="label-count">{{unread}}</span>{{name}}
            </a>
        </li>
    </ul>
</div>
<div v-if="show_help" class="help">
    <h3>
        Keyboard shortcuts
        <a v-on="click: closeHelp" class="help-close" title="Close">X</a>
    </h3>
    {{{help}}}
</div>
<div v-if="errors.length" class="errors">
    <a v-on="click: closeErrors" class="errors-close" title="Close">X</a>
    <div v-repeat="errors" class="error">{{$value}}</div>
</div>
<div class="overlay"></div>
