@import url(./font/fontello.less);

@Space: 1.25em;
@Size: 1em;
@SizeIcon: @Size * 1.1;
@SidebarW: 10em;
@HeaderH: 2.2em;

@ColorA: #777;
@ColorB: #008000;
@ColorC: #f63;
@ColorL: rgb(0,150,136);
@Color0bg: #fff;
@Color0b: #ccc;
@Color1bg: #eee;
@Color1b: #fff;

/* Mixins */
.mix_button() {
    box-sizing: border-box;
    border: 1px solid @Color0b;
    border-radius: .3em;
    padding: .2em .3em;
    background-color: @Color1bg;
    color: @ColorA;
    font-weight: bold;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        background-color: @Color0bg;
        text-decoration: none;
    }
}
.mix_button_icon() {
    .mix_button();

    &:before {
        margin-right: 0;
    }
}
.mix_input() {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    padding: 0;
    box-shadow: none;
    border-bottom: 1px solid @Color0b;

    &:hover, &:active, &:focus {
        outline: none;
        border-bottom: 1px solid @ColorC;
    }
}
.mix_inputform {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    button {
        display: inline-block;
        vertical-align: bottom;
        box-sizing: border-box;
        padding: .2em;
        border: none;
        border-radius: 0 .3em .3em 0;
        background-color: @ColorC;
        color: #fff;
        font-size: 1em;
        opacity: .5;

        &:hover, &:active, &:focus {
            outline: none;
            opacity: 1;
        }
    }
    input {
        .mix_input();
        display: inline-block;
        vertical-align: bottom;
        box-sizing: border-box;
        min-width: 5em;
        padding: 0 .3em;
    }
    .input--ok {
        .icon-ok();

        &:before {
            margin-right: 0;
        }
    }
    .input--x {
        .icon-x();
        border-radius: .3em 0 0 0;
        background-color: #ccc;

        &:before {
            margin-right: 0;
        }
    }
}
.mix_reset_list() {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mix_link() {
    color: @ColorL;
    text-decoration: none;

    &:hover {
        color: @ColorC;
    }
}
.mix_links() {
    a {
        .mix_link();
    }
}

/* General */
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}
body {
    position: relative;
    min-width: 500px;
    margin: 0 auto;
    font-size: @Size;
    font-family: sans-serif;

    .nav-font {
        &:before {
            font-size: 0.7em;
            content: 'A-';
        }
        &:after {
            font-size: 1em;
            content: 'A';
        }
    }
    &.bigger {
        font-size: 1.2em;

        .nav-font {
            &:before {
                font-size: 1em;
            }
            &:after {
                font-size: 0.7em;
            }
        }
    }
    &> .body {
        display: none;
        position: absolute;
        top: @HeaderH;
        right: 0;
        bottom: 0;
        left: @SidebarW;
        padding-right: 0.5em;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        &.body-active {
            display: block;
        }
        .title {
            font-weight: bold;
            margin-bottom: .5em;
        }
    }

    .nav--reload {
        .icon-reload();
        opacity: .5;
    }
    &.body-loading {
        .nav--reload {
            .icon-loading();
            opacity: 1;
            color: @ColorC;

            &:before {
                animation: spin 1s infinite;
            }
        }
    }
}
body > .sidebar {
    .mix_links();
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: @SidebarW;
    padding-right: .5em;
    margin-right: .5em;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    white-space: nowrap;

    .nav-info {
        .mix_links();
        box-sizing: border-box;
        height: 3.4em;
        padding: 0.2em;
        padding-left: 3.4em;
        border-right: 1px solid #ccc;
        background-color: #fff;
        white-space: nowrap;
        font-size: 1em;
        line-height: 1em;
        text-align: left;

        .nav-username {
            display: inline-block;
            height: 1.2em;
            font-weight: bold;
        }
        .nav-logout {
            .icon-logout();
            display: inline-block;
            height: 1.2em;
        }
        .nav-email, .nav-last-sync {
            height: 1.2em;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.7em;
        }
        .nav-pic {
            position: absolute;
            top: 0.2em;
            left: 0.2em;
            width: 3em;
            height: 3em;
        }
    }
    .nav-options {
        .mix_reset_list();
        box-sizing: border-box;
        height: 1.7em;
        padding: 0.2em;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        color: @ColorL;
        border-radius: 0 0 1em 0;

        a {
            display: inline-block;
            margin-right: 0.3em;
        }
        .nav-font {
            font-size: 0.9em;
        }
        .nav-help {
            .icon-keyboard();
            font-size: 0.9em;
        }
        .nav-compose {
            .icon-compose();
            display: inline-block;
        }
    }
    .nav-labels, .nav-tabs {
        .mix_reset_list();
        margin-top: .5em;
        border-right: 1px solid #eee;
        font-size: 0.9em;
        text-align: left;

        a {
            position: relative;
            display: block;
            box-sizing: border-box;
            height: 1.5em;
            line-height: 1.5em;
            padding: 0 2em 0 .5em;
            margin-right: -1px;
            border-radius: .5em 0 0 .5em;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover, &:active {
                background-color: @ColorL;
                border-color: @ColorL;
                color: #fff;

                .label-count {
                    color: @ColorL;
                }
                &.label-unread .label-count {
                    color: #fff;
                }
            }
        }
        .nav-title {
            margin-left: .3em;
            font-weight: bold;
        }
        .nav-active {
            background-color: #eee;
            font-weight: bold;
        }
        .nav--new {
            .icon-plus();
            .mix_link();
            cursor: pointer;
        }
        .nav--x {
            .icon-x();
            display: inline-block;
            opacity: .5;

            &:before {
                font-size: .8em;
            }
            &:hover {
                opacity: 1;
            }
        }
        .nav--reload {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;

            &:before {
                line-height: 1.5em;
            }
            &:hover {
                opacity: 1;
            }
        }
        .label-count {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding: .1em 0;
            min-width: 2em;
            color: #fff;
            text-align: center;
        }
        .label-unread {
            font-weight: bold;

            .label-count {
                color: @ColorL;
            }
        }
    }
}
body > .header {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    left: @SidebarW;
    box-sizing: border-box;
    padding: 0.5em 0.5em 0 0;
    height: @HeaderH;
    overflow-x: auto;
    white-space: nowrap;

    .search {
        .mix_inputform();
        display: inline-block;
        width: 100%;
        max-width: 40em;
        background-color: #fff;
        padding-left: 3em;
        margin-left: -3em;

        input[type="text"] {
            font-weight: bold;
        }
        .input--ok {
            .icon-search();
        }
    }
    .labels {
        display: none;

        .labels-current {
            display: inline-block;
        }
        .labels-input {
            .mix_inputform();
            display: none;
        }
        .labels-b-spam {
            .icon-spam();
            .mix_button_icon();
        }
        .labels-b-del {
            .icon-trash();
            .mix_button_icon();
        }
        .labels-b-arch {
            .icon-archive();
            .mix_button_icon();
        }
        .labels-b-link {
            .icon-link();
            .mix_button_icon();
        }
        .labels--edit {
            .icon-edit();
            .mix_button_icon();

            margin-left: .2em;
        }
        .labels--search {
            .icon-search();
            .mix_button_icon();
        }
    }
    &.labels-show {
        .labels {
            display: block;
        }
        .search {
            display: none;
        }
    }
    &.labels-input-on {
        .labels-current {
            display: none;
        }
        .labels-input {
            display: inline;
        }
    }
}
.emails {
    .mix_reset_list();
}
.email {
    .email-line {
        .mix_reset_list();
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        padding-left: @Space * 0.3;
        background-color: @Color1bg;
        border-top: 1px solid @Color1b;
        border-radius: 0.5em;
        color: @ColorA;

        a {
            color: @ColorA;
            text-decoration: none;
        }
        & > li {
            display: inline-block;
            vertical-align: middle;
            font-size: 1em;
            line-height: @Size+@Space*0.6;
        }
        .email-labels {
            .mix_links();
            .label {
                font-size: 90%;
            }
        }
        .email-pin {
            .icon-pin;
            font-size: @SizeIcon;
            &:hover {
                cursor: pointer;
            }
        }
        .email-pick {
            width: 1em;
            text-align: center;
        }
        .email-pic {
            height: @SizeIcon;
            width: @SizeIcon;
            background-size: @SizeIcon @SizeIcon;
            cursor: pointer;
        }
        .email-from {
            max-width: 120px;
            overflow: hidden;
        }
        .email-count {
            padding: 0 3px;
            color: @ColorA;
            background-color: @Color0bg;
            border-radius: 0.3em;
            font-weight: normal;
        }
        .email-subj {
            color: #333;
            text-decoration: none;
            outline: none;

            &.email-subj-changed {
                display: inline-block;
            }
        }
        .email-expander {
            display: inline-block;
            width: 100%;
        }
        .email-time {
            position: absolute;
            right: 0;
            padding: 0 @Space*0.3 0 @Space;
            background-color: @Color1bg;
        }
    }
    .email-hidden {
        .mix_links();
        a {
            display: block;
            padding: .5em 1em;
            background-color: @Color1bg;
            border-top: 1px solid @Color1b;
            border-radius: .5em;
            text-align: left;
            font-size: .9em;

            &:before, &:after {
                content: " --- ";
            }
        }
    }
    .email-body {
        display: none;
    }
}
.email-unread .email-line {
    font-weight: bold;

    .email-preview {
        font-weight: normal;
    }
}
.email-pinned .email-pin {
    color: @ColorC;
}
.email-draft {
    margin-left: @Space*0.3;
    color: @ColorC;
}
.email-show {
    .email-line {
        border-top: 1px solid @Color0b;
        border-radius: 0.5em;
        background-color: @Color0bg;

        .email-from {
            max-width: none;
            font-weight: bold;
        }
        .email-time {
            background-color: @Color0bg;
        }
        .email-details-toggle {
            display: inline-block;
        }
        .email-preview {
            display: none;
        }
    }
    .email-body {
        display: block;
    }
    .email-details {
        .mix_links();
        padding: .3em;
        margin: 0 .5em;
        border-bottom: 1px solid @Color1bg;
        overflow: hidden;

        .email-actions {
            a {
                font-size: 0.7em;
                white-space: nowrap;
                margin-right: 0.5em;
            }
        }
        .email-extra {
            margin-top: 0.5em;
            font-size: 0.8em;

            ul {
                .mix_reset_list();
                display: inline-block;
            }
            img {
                display: inline-block;
                vertical-align: top;
                margin-right: 0.5em;
                height: 5em;
                width: 5em;
            }
        }
        .email-addr {
            margin-right: 5px;
            &:after {
                content: ",";
                font-weight: bold;
            }
            &:last-child:after {
                content: "";
            }
        }
    }
    .email-attachments {
        .mix_reset_list();
        font-size: 80%;
        padding: @Space/2;
        margin: 0 @Space/2;
        border-top: 1px solid @Color1bg;
    }
}
.email-text {
    position: relative;
    padding: @Space/2 @Space;
    max-width: 800px;

    .email-quote-toggle {
        .icon-ellipsis;
        .mix_button_icon();
        display: inline-block;
        font-size: 0.75em;
        padding: 0 5px;
    }
    pre {
        white-space: pre-wrap;
    }
    pre, code {
        font-size: 0.9em;
    }
    blockquote {
        border-left: 1px solid #ccc;
        padding-left: 1em;
        margin-left: 1em;
    }
}
.thread {
    .email-line {
        .email-pick {
            display: none;
        }
        .email-subj {
            display: none;
        }
        .email-labels {
            display: none;
        }
        .email-count {
            display: none;
        }
        .email-from {
            font-weight: bold;
        }
    }
}
.label {
    background: #eee;
    box-sizing: border-box;
    border: 1px solid #eee;
    padding: 1px;
    margin: 1px;
    text-decoration: none;
    color: @ColorL;

    &:hover {
        background: #fff;
    }

    .label-del {
        &:after {
            content: ' X ';
        }
        &:hover {
            color: @ColorC;
        }
    }
}
.compose {
    position: relative;
    padding: 10px;
    margin: 0;

    input[type="text"] {
        .mix_input;
    }
    textarea {
        .mix_input;
        height: 200px;
        margin-bottom: 5px;
    }
    .email-html {
        .email-text();
        min-height: 200px;
        margin: 5px 0;
        border: 1px solid #ccc;
    }
    .compose-send {
        .icon-send();
        .mix_button();
    }
    .compose-preview {
        .mix_button();
    }
    .compose-clear {
        .icon-trash();
        .mix_button();
    }
    .compose-to {
        .mix_inputform();
        border-bottom: 1px solid #ccc;

        input {
            min-width: 12em;
            margin-bottom: -1px;
        }
    }
    .compose-hide {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        background-color:rgba(0, 0, 0, 0.65);
        &:after {
            content: 'Sending...';
            color: #fff;
            position: absolute;
            top: 20px;
            left: 20px;
        }
    }
}
.compose-body {
    border: 1px solid @ColorC;
    &>.title {
        display: none;
    }
}
.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color:rgba(0, 0, 0, 0.85);
    padding: 2em 0.5em 0.5em 0.5em;
    color: #fff;
    text-align: center;

    &.slider-show {
        display: block;
    }
    .slider-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        .icon-loading();

        &:before {
            animation: spin 1s infinite;
        }
    }
    .slider-img {
        position: relative;
        height: 100%;
        width: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .slider-title {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 110;
        a {
            display: inline-block;
            padding: .5em 1em;
            color: #fff;
            font-size: 0.9em;
        }
    }
    .slider-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 110;
        padding: 0.5em 1em 1em 1em;
        cursor: pointer;
        &:after {
            content: 'X';
        }
    }
    .slider-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 30%;
        cursor: pointer;
    }
    .slider-next {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 70%;
        cursor: pointer;
    }
}
.help {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;
    padding: 20px;
    color: #fff;
    background-color:rgba(0, 0, 0, 0.85);

    b {
        color: @ColorC;
    }
    h3 {
        margin: 0 0 10px 0;
        border-bottom: 1px solid #ccc;
    }
    .help-close {
        float: right;
        cursor: pointer;
    }
}
.errors {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid red;

    .errors-close {
        float: right;
        cursor: pointer;
        color: red;
    }
}
.error {
    color: red;
}

/* insignia */
.nsg-editor {
    cursor: text;
}
.nsg-tag {
    background: #eee;
    border: 1px solid #eee;
    padding: 1px;
    margin: 1px;

    &:hover {
        background: #fff;
    }
}
.nsg-tag-remove {
    &:after {
        content: ' X ';
        cursor: pointer;
    }
    &:hover {
        color: @ColorC;
    }
}
.nsg-input {
    display: inline;
    box-sizing: border-box;
    padding: 0 .2em;
}

/* horsey */
.sey-list {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-shadow: 1px 2px 6px;
    background-color: #fff;
    color: #333;
}
.sey-show {
    display: block;
}
.sey-hide {
    display: none;
}
.sey-item {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px;
}
.sey-item:hover {
    background-color: #444;
    color: #fff;
}
.sey-selected {
    background-color: #333;
    color: #fff;
}
