@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot');
  src: url('./font/fontello.eot#iefix') format('embedded-opentype'),
       url('./font/fontello.woff') format('woff'),
       url('./font/fontello.ttf') format('truetype'),
       url('./font/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-pin:before { content: '\e800';}
.icon-ellipsis:before {content: '\e801';}
.icon-details:before {content: '\e802';}
.icon-trash:before {content: '\e803';}
.icon-spam:before {content: '\e804';}
.icon-link:before {content: '\e805';}
.icon-plus:before {content: '\e806';}
.icon-help:before {content: '\e807';}
.icon-logout:before {content: '\e808';}
.icon-search:before {content: '\e809';}
.icon-send:before {content: '\e80A';}
.icon-keyboard:before {content: '\e80B';}
.icon-compose:before {content: '\e80C';}
.icon-ok:before {content: '\e80D';}
.icon-x:before {content: '\e80E';}
.icon-prev:before {content: '\e80F';}
.icon-next:before {content: '\e810';}
.icon-loading:before {content: '\e811';}
.icon-archive:before {content: '\e812';}
.icon-edit:before {content: '\e813';}
.icon-forward:before {content: '\e814';}
.icon-reply:before {content: '\e815';}
.icon-replyall:before {content: '\e816';}
.icon-unread:before {content: '\e817';}
.icon-unlink:before {content: '\e818';}
.icon-reload:before {content: '\e819';}
