<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/theme/styles.css">
    <title>Mailur</title>
</head>
<body>
{{&body}}
<script src="/theme/jquery.min.js"></script>
<script>
$('.thread .email-text').click(function() {
    var email = $(this).parents('.email');
    email.toggleClass('email-show');
    if (email.hasClass('email-show')) {
        $.get(email.data('body-url'))
            .done(function(data) {
                email.find('.email-body').html(data);
            });
    }
    return false;
});
</script>
</body>
</html>
