<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/theme/styles.css">
    <title>Mailur</title>
</head>
<body>
{{&body}}
<script src="/theme/jquery.min.js"></script>
<script>
var ws = null, handlers = {};
function guid(){
    // From http://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
    var d = new Date().getTime();
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
}
function connect() {
    ws = new WebSocket('ws://localhost:5001');
    ws.onopen = function() {
        send('/init/', function(data) {
            console.log('init done');
        });
    };
    ws.onmessage = function(e) {
        data = JSON.parse(e.data)
        if (data.uid) {
            console.log('response for ' + data.uid);
            var handler = handlers[data.uid];
            if (handler) {
                handler(data.payload);
            }
        } else if (data.update) {
            console.log(data);
            send(window.location.pathname + '?fmt=body', null, function(data) {
                $('body').html(data);
            })
        }
    };
    ws.onclose = function() {
        console.log('closed');
    };
};
function send(url, data, callback) {
    if (ws === null) {
        connect();
        send(url, data, callback);
    } else {
        url = 'http://localhost:5000' + url;
        var resp = {url: url, data: data, uid: guid()}
        ws.send(JSON.stringify(resp));
        handlers[resp.uid] = callback;
    }
}

connect();
$('.thread .email-text').click(function() {
    var email = $(this).parents('.email');
    email.toggleClass('email-show');
    if (email.hasClass('email-show') && !email.hasClass('email-loaded')) {
        send(email.data('body-url'), null, function(data) {
            email.find('.email-body').html(data);
            email.addClass('email-loaded');
        });
    }
    return false;
});
</script>
</body>
</html>
