<form class="compose" method="post" enctype="multipart/form-data">
    <input name="to" value="{{to}}" class="compose-to" type="text">
    <!-- <input name="cc" class="compose-cc" placeholder="Cc" type="text"> -->
    <!-- <input name="bcc" class="compose-bcc" placeholder="Bcc" type="text"> -->
    <input name="subj" value="{{subj}}" class="compose-subj" placeholder="Subject" type="text">
    <textarea name="body" class="compose-body"></textarea>
    <button type="submit">Send</button>
    <input name="files" type="file" multiple>
</form>
