{{#header?}}
<div class="header">
    <h3>{{subj}}</h3>
    {{#labels}}
    <div class="email-labels-edit">
        <input
            class="email-labels-input"
            data-items="{{items_json}}"
            data-all="{{all_json}}"
            data-base-url="{{base_url}}"
        >
        <button class="email-labels-ok">Ok</button>
        <button class="email-labels-cancel">Cancel</button>
    </div>
    {{/labels}}
</div>
{{/header?}}
{{#emails?}}
<ul class="emails {{emails_class}}" data-last="{{last}}">
{{#items}}
<li class="
        email
        {{#body?}} email-show email-showed{{/body?}}
        {{#unread?}} email-unread{{/unread?}}
        {{#pinned?}} email-pinned{{/pinned?}}
    "
    id="{{domid}}"
    data-id="{{id}}"
    data-thrid="{{thrid}}"
    data-labels="{{#labels?}}{{names_json}}{{/labels?}}"
    data-hash="{{hash}}"
    data-body-url="{{body_url}}"
    data-reply-url="{{reply_url}}"
    data-replyall-url="{{replyall_url}}"
>
    <ul class="email-line">
        <li class="email-pin" title="Toggle Pin"></li>
        <li class="email-details-toggle" title="Details"></li>
        <li class="email-pick"><input type="checkbox" class="mousetrap"></li>
        <li class="email-pic email-info" style="background-image:url({{gravatar}})"></li>
        <li class="email-from email-info" title="{{from}}">{{from_short}}</li>
        {{#labels?}}
        <li class="email-labels">{{#items}}<a href="{{url}}">{{name}}</a> {{/items}}</li>
        {{/labels?}}
        {{#count}}<li class="email-count email-info">{{count}}</li>{{/count}}
        <li class="email-subj email-info{{#subj_changed?}} email-subj-changed{{/subj_changed?}}">
            <a href="{{thread_url}}">{{subj_human}}</a>
        </li>
        <li class="email-preview email-info">{{preview}}</li>
        <li class="email-expander email-info">&nbsp;</li>
        <li class="email-time" title="{{time}}">{{time_human}}</li>
    </ul>
    <div class="email-body">
        {{#body?}}
        <ul class="email-details">
            <li><a href="{{reply_url}}">Reply</a></li>
            <li><a href="{{replyall_url}}">Reply to all</a></li>
            <li><a href="{{raw_url}}" target="_blank">Raw</a></li>
            <li><a href="{{from_url}}">Filter by person</a></li>
            <li><a href="{{subj_url}}">Filter by subject</a></li>
            <li><a href="{{thread_url}}">View full thread</a></li>
        </ul>
        <div class="email-text">{{&text}}</div>
        {{#attachments?}}
        <div class="email-attachments">
            <ul>
                {{#items}}
                <li><a href="{{url}}" target="_blank">{{name}}</a></li>
                {{/items}}
            </ul>
        </div>
        {{/attachments?}}
        {{/body?}}
        {{^body?}}
        <div class="email-text">
            <b>Loading...</b>
        </div>
        {{/body?}}
    </div>
</li>
{{/items}}
{{#next?}}
<li class="emails-more" data-url="{{url}}"><a href="{{url}}">Next page</a></li>
{{/next?}}
</ul>
{{/emails?}}
