<ul class="{{#thread?}}thread{{/thread?}}">
{{#emails}}
<li class="email {{#last?}}email-show{{/last?}}"
    data-id="{{id}}"
    data-body-url="{{body_url}}"
>
    <ul class="email-line">
        <li class="email-pin{{#pinned?}} email-pinned{{/pinned?}}"></li>
        <li class="email-pic" style="background-image:url({{gravatar}})"></li>
        <li class="email-from" title='{{from}}'>{{from_short}}</li>
        <li class="email-subj"><a href="{{thread_url}}">{{subj}}</a></li>
        <li class="email-time-human" title="{{time}}">{{time_human}}</li>
        <li class="email-time">{{time}}</li>
    </ul>
    {{#thread?}}
    <ul class="email-detail">
        <li><a href="{{raw_url}}">Raw</a></li>
    </ul>
    <div class="email-body">
        {{#last?}}{{&body}}{{/last?}}
    </div>
    {{/thread?}}
</li>
{{/emails}}
</ul>
