{{#header}}
<div class="header">
    <h3>{{subj}}</h3>
    <div class="email-labels-edit">
        {{#buttons}}
        <button class="email-b-{{name}}" title="{{title}}"
            {{#label}}data-label="{{label}}"{{/label}}
            {{#action}}data-action="{{action}}"{{/action}}
        ></button>
        {{/buttons}}
        {{#labels}}
        <div class="email-labels-wrap">
        <input
            class="email-labels-input"
            data-items="{{items_json}}"
            data-all="{{all_json}}"
            data-base-url="{{base_url}}"
        >
        <button class="email-labels-ok"></button>
        <button class="email-labels-cancel"></button>
        </div>
        {{/labels}}
    </div>
</div>
{{/header}}
{{#emails}}
<ul class="emails {{#thread}}thread{{/thread}}" data-last="{{last}}">
{{#items}}
<li class="
        email
        {{#body.show}} email-show email-showed{{/body.show}}
        {{#unread}} email-unread{{/unread}}
        {{#pinned}} email-pinned{{/pinned}}
    "
>
    <ul class="email-line">
        {{#draft}}
        <li class="email-draft">Draft</li>
        {{/draft}}
        {{^draft}}
        <li class="email-pin" title="Toggle Pin"></li>
        {{/draft}}
        <li class="email-pick"><input type="checkbox" class="mousetrap"></li>
        <li class="email-pic" style="background-image:url({{fr.image}})"></li>
        <li class="email-from" title="{{fr.full}}">{{fr.short}}</li>
        {{#.labels}}
        <li class="email-labels">
            {{#items}}<a href="{{url}}" on-click="go">{{name}}</a>&nbsp;{{/items}}
        </li>
        {{/.labels}}
        <li class="email-info" on-click="go">
            {{#count}}<span class="email-count">{{count}}</span>{{/count}}
            <a href="{{url}}" class="email-subj {{#subj_changed}} email-subj-changed{{/subj_changed}}">
                {{subj_human}}
            </a>
        <span class="email-preview">{{preview}}</span>
        <span class="email-expander">&nbsp;</span>
        <span class="email-time" title="{{time}}">{{time_human}}</span>
        </li>
    </ul>
    <div class="email-body">
        {{#body}}{{#show}}
        <div class="email-details">
            <div class="email-actions">
            {{#links}}
                <a class="email-a-{{name}}" href="{{href}}{{^href}}javascript:void(0){{/href}}">
                    {{title}}
                </a>
            {{/links}}
            </div>
            {{#details}}
            <div class="email-extra">
                <img  src="{{fr.image}}">
                <ul>
                    <li>Subject: <a href="{{subj_url}}" title="Filter by subject">{{subj}}</a></li>
                    <li>From: <a href="{{fr.url}}" title="Filter by person">{{fr.full}}</a></li>
                    <li>To: {{#to}}<a href="{{url}}" title="Filter by person">{{full}}</a>&nbsp;{{/to}}</li>
                    <li>Cc: {{#cc}}<a href="{{url}}" title="Filter by person">{{full}}</a>{{/cc}}</li>
                </ul>
            </div>
            {{/details}}
        </div>
        <div class="email-text">{{&text}}</div>
        {{#attachments}}
        <div class="email-attachments">
            <ul>
                {{#items}}
                <li><a class="email-f-{{maintype}}" href="{{url}}" title="{{name}}" target="_blank">{{name}}</a></li>
                {{/items}}
            </ul>
        </div>
        {{/attachments}}
        {{/show}}{{/body}}
        {{^body}}
        <div class="email-text">
            <b>Loading...</b>
        </div>
        {{/body}}
    </div>
</li>
{{/items}}
{{#next}}
<li class="emails-more" data-url="{{url}}"><a href="{{url}}">Next page</a></li>
{{/next}}
</ul>
{{/emails}}
