<nav><a href="/logout/">Logout</a></nav>
{{#labels?}}
<form action="/search/">
    <input name="q" type="text">
    <input type="submit" value="Go">
</form>
<ul class="labels">
{{#items}}
<li><a href="{{url}}">
    {{^unread}}{{name}}{{/unread}}
    {{#unread}}<b>{{name}} ({{unread}}</b>){{/unread}}
</a></li>
{{/items}}
</ul>
{{/labels?}}

{{^labels?}}
{{#accounts}}
Please wait for complete synchronization.
{{/accounts}}

{{^accounts}}
<a href="/gmail/">Please, connect your gmail account.</a>
{{/accounts}}
{{/labels?}}
