{{#labels?}}
<ul>
{{#items}}
<li><a href="{{url}}">
    {{^unread}}{{name}}{{/unread}}
    {{#unread}}<b>{{name}} ({{unread}}</b>){{/unread}}
</a></li>
{{/items}}
</ul>
{{/labels?}}

{{^labels?}}
{{#accounts}}
Please wait for complete synchronization.
{{/accounts}}

{{^accounts}}
<a href="/auth/">Please, connect your gmail account.</a>
{{/accounts}}
{{/labels?}}
