{{&greeting}}
{{#error}}<div class="error">Wrong username or password</div>{{/error}}
<form method="POST">
    <input type="text" name="username" placeholder="username" value="{{username}}">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Send">
</form>
