<div class="msg-quote">
<div style="font-family: monospace; padding-bottom: 10px;">
-------- {{type}} Message --------<br>
Subject: {{subj}}<br>
Time (UTC): {{time}}<br>
From: {{fr}}<br>
To: {{to}}<br>
</div>
<div class="msg-body">
{{&html}}
</div>
</div>
