<form method="POST">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="password_confirm" placeholder="Confirm password">
    <input type="submit" value="Send">
</form>
