<div class="sidebar">
<b>
    {{username}}
    (<span v-if="email">{{email}}</span><a v-if="!email" href="/gmail/">connect</a>)
</b>
<nav>
    <a href="/logout/" class="logout" title="Logout"></a>
    <a href="#" class="help-toggle" title="Keyboard shortcut help"></a>
    <a v-if="email" href="/compose/" v-on="click: go" class="compose-new">Compose</a>
</nav>
<template v-if="labels">
<form class="search-form" action="/search/">
    <input name="q" type="text" value="{{search_query}}">
    <button type="submit" class="search"></button>
</form>
<ul class="labels">
<li v-repeat="labels.items">
    <a href="{{url}}" v-on="click: go" v-class="label-unread: unread">
        {{name}}<template v-if="unread"> ({{unread}})</template>
    </a>
</li>
</ul>
</template>
</div>
<div class="body" v-if="!labels">
    <template v-if="email">
    Please wait for complete synchronization.
    </template>

    <a v-if="!email" href="/gmail/">Please, connect your gmail account.</a>
</div>
