<div class="sidebar">
<b>{{username}} ({{#email}}{{email}}{{/email}}{{^email}}<a href="/gmail/">connect</a>{{/email}})</b>
<nav>
    <a href="/logout/" class="logout" title="Logout"></a>
    <a href="#" class="help-toggle" title="Keyboard shortcut help"></a>
    {{#email}}
    <a href="/compose/" on-click="go" class="compose-new">Compose</a>
    {{/email}}
</nav>
{{#labels}}
<form class="search-form" action="/search/">
    <input name="q" type="text" value="{{search_query}}">
    <button type="submit" class="search"></button>
</form>
<ul class="labels">
{{#items}}
<li><a href="{{url}}" on-click="go">
    {{^unread}}{{name}}{{/unread}}
    {{#unread}}<b>{{name}} ({{unread}}</b>){{/unread}}
</a></li>
{{/items}}
</ul>
{{/labels}}
</div>
{{^labels}}
<div class="body">
    {{#email}}
    Please wait for complete synchronization.
    {{/email}}

    {{^email}}
    <a href="/gmail/">Please, connect your gmail account.</a>
    {{/email}}
    {{&body}}
</div>
{{/labels}}
