@import (inline) url(./reset.css);
@import url(./font/fontello.less);

@size: 14px;
@sizeIcon: @size+@space*0.2;
@space: 16px;

@colorA: #777;
@colorB: #008000;
@colorC: #f63;
@color0bg: #fff;
@color0b: #ccc;
@color1bg: #eee;
@color1b: #fff;

body {
    font-size: @size;
}
.email {
    .email-line {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        font-size: 1em;
        line-height: @size+@space*0.6;
        color: @colorA;
        background-color: @color1bg;
        border-top: 1px solid @color1b;
        border-radius: 0.5em;

        &> li {
            display: inline-block;
            vertical-align: middle;
        }
        .email-pin {
            .icon-star-empty;
            font-size: @sizeIcon;
            &:hover {
                cursor: pointer;
                color: @colorC;
            }
            &.email-pinned {
                color: @colorC;
            }
        }
        .email-pic {
            display: inline-block;
            height: @sizeIcon;
            width: @sizeIcon;
            background-size: @sizeIcon @sizeIcon;
        }
        .email-subj {
            width: 100%;

            a {
                display: inline-block;
                width: 100%;
                color: @colorB;
                text-decoration: none;
            }
        }
        .email-time, .email-time-human {
            position: absolute;
            right: @space*0.3;
        }
        .email-time {
            display: none;
        }
        .email-time-human {
            background-color: @color1bg;
        }
    }
    .email-body {
        display: none;
    }
}
.email-show {
    .email-line {
        border-top: 2px solid @color0b;
        border-radius: 0.5em;
        background-color: @color0bg;

        .email-subj a {
            color: @colorA;
            font-weight: bold;
        }
        .email-time {
            display: inline-block;
            background-color: @color0bg;
        }
        .email-time-human {
            display: none;
        }
    }
    .email-body {
        display: block;
    }
}
.email-body {
    padding: @space;
    position: relative;

    blockquote {
        padding-left: @space;
        border-left: 1px solid @color1b;
        color: @colorA;
    }
    p, dl, hr, ol, ul, pre, blockquote,
    table, address, fieldset {
        margin-bottom: 1em;
    }
    pre {
        white-space: pre-wrap;
    }
    table {
        margin: auto;
    }
}
