@import (inline) url(./reset.css);
@import url(./font/fontello.less);

@Space: 16px;
@Size: 14px;
@SizeIcon: @Size+@Space*0.2;

@ColorA: #777;
@ColorB: #008000;
@ColorC: #f63;
@Color0bg: #fff;
@Color0b: #ccc;
@Color1bg: #eee;
@Color1b: #fff;

/* Mixins */
.button() {
    color: @ColorA;
    border: 1px solid @Color0b;
    background-color: @Color0bg;
    border-radius: 3px;
    padding: 0 0.4em;
    margin: 0.2em 0;
    &:hover {
        cursor: pointer;
        background-color: @Color1bg;
    }
}

/* General */
body {
    font-size: @Size;
    max-width: 800px;
}
.email {
    .email-line {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        font-size: 1em;
        line-height: @Size+@Space*0.6;
        color: @ColorA;
        background-color: @Color1bg;
        border-top: 1px solid @Color1b;
        border-radius: 0.5em;
        width: 100%;

        & li {
            display: inline-block;
            vertical-align: middle;
        }
        .email-pin {
            .icon-pin;
            margin-left: @Space*0.3;
            font-size: @SizeIcon;
            &:hover {
                cursor: pointer;
                color: @ColorC;
            }
            &:before {
                margin: 0;
            }
        }
        .email-details-toggle {
            .icon-details;
            display: none;
            font-size: @SizeIcon;
            &:hover {
                cursor: pointer;
                color: @ColorB;
            }
            &:before {
                margin: 0;
            }
        }
        .email-pick {
            width: 1em;
            text-align: center;
        }
        .email-pic {
            display: inline-block;
            height: @SizeIcon;
            width: @SizeIcon;
            background-size: @SizeIcon @SizeIcon;
        }
        .email-from {
            max-width: 120px;
            overflow: hidden;
        }
        .email-count {
            padding: 0 3px;
            color: @ColorA;
            background-color: @Color0bg;
            border-radius: 0.4em;
            font-weight: normal;
        }
        .email-subj {
            &.email-subj-changed {
                display: inline-block;
            }
            &> a {
                display: block;
                color: @ColorB;
                text-decoration: none;
                outline: none;
            }
        }
        .email-expander {
            width: 100%;
        }
        .email-time, .email-time-human {
            position: absolute;
            right: 0;
            padding: 0 @Space*0.3 0 @Space;
        }
        .email-time {
            display: none;
        }
        .email-time-human {
            background-color: @Color1bg;
        }
    }
    .email-body {
        display: none;
    }
}
.email-unread {
    .email-line {
        font-weight: bold;
    }
}
.email-pinned .email-pin {
    color: @ColorC;
}
.email-show {
    .email-line {
        border-top: 1px solid @Color0b;
        border-radius: 0.5em;
        background-color: @Color0bg;

        .email-from {
            max-width: none;
            font-weight: bold;
        }
        .email-time {
            display: inline-block;
            background-color: @Color0bg;
        }
        .email-time-human {
            display: none;
        }
        .email-details-toggle {
            display: inline-block;
        }
        .email-preview {
            display: none;
        }
    }
    .email-body {
        display: block;
    }
    .email-details {
        display: none;
        font-size: 80%;
        padding: @Space/2;
        margin: 0 @Space/2;
        border-bottom: 1px solid @Color1bg;

        li {
            display: inline-block;
        }
    }
    .email-attachments {
        font-size: 80%;
        padding: @Space/2;
        margin: 0 @Space/2;
        border-top: 1px solid @Color1bg;
    }
}
.email-text {
    padding: @Space/2 @Space;
    position: relative;

    blockquote {
        padding-left: @Space;
        border-left: 1px solid @Color0b;
        color: @ColorA;
    }
    b, strong {
        font-weight: bold;
    }
    pre {
        font-size: 80%;
        white-space: pre-wrap;
    }
    table {
        margin: auto;
    }
    .email-quote {
        display: none;
    }
    .email-quote-toggle {
        .icon-ellipsis;
        .button;
        display: inline-block;
        font-size: 80%;
    }
}
.thread-subj {
    margin: 10px;
    font-size: 120%;
    font-weight: bold;
}
.thread {
    .email-line {
        .email-pick {
            display: none;
        }
        .email-subj {
            display: none;
        }
        .email-labels {
            display: none;
        }
        .email-from {
            font-weight: bold;
        }
    }
}
