<!DOCTYPE html>
<html>
<head>
  <title>Mailur</title>
  <script src="vue.js"></script>
</head>
<body>
  <div id="app">
    <input v-model="query" @keyup.enter="get">
    <input type="checkbox" id="show_bodies" v-model="show_bodies">
    <label for="show_bodies">bodies</label>
    <button v-on:click="get">go!</button>
    <div v-for="msg in emails">
      <span>{{ msg.uid }}</span>
      <i>{{ flags[msg.uid] }}</i>
      <b>{{ msg.subject }}</b>
      <span>{{ msg.date }}</span>
      <span>{{ msg.message_id }}</span>
      <div v-if="show_bodies" v-html="msg.body"></div>
    </div>
  </div>

  <script>
  var app = new Vue({
    el: '#app',
    data: {
      emails: [],
      flags: {},
      query: 'keyword T:1',
      show_bodies: false,
    },
    methods: {
      get: function() {
        fetch('/emails?q=' + app.query).then(function(response) {
          return response.json();
        }).then(function(res) {
          app.emails = res.emails;
          app.flags = res.flags
        });
      }
    }
  });
  app.get();
  </script>
</body>
</html>
